@import "src/styles/colors.scss";
@import "src/styles/fonts-mixins.scss";

.right-menu-grabber-wrapper {
    position: relative;

    .right-menu-grabber-container {
        position: absolute;
        right: -18px;
        top: 118px;
        z-index: 100;
        display: flex;
        transition: right 0.4s;
        border-right: 0;
        @include font-primary-info();
        padding: 0 !important;
        min-width: unset !important;
        
        &:hover {
            cursor: pointer;
            right: 0;
        }

        .right-menu-grabber {
            margin: auto;
            display: flex;

            div {
                writing-mode: vertical-rl;
                transform: rotate(180deg);
                padding-bottom: 29px;
                user-select: none;
            }

            i {
                padding-left: 4px;
                padding-top: 6px;
                user-select: none;
                margin: unset;
            }

            .fa-list {
                padding-top: 1px;
            }
        }
    }
}