@import "src/styles/colors.scss";
@import "src/styles/fonts-mixins.scss";

.right-menu-grabber-container {
    position: fixed;
    right: -1.1rem;
    top: 4.5rem;
    z-index: 1000;
    height: 1.8rem;
    display: flex;
    transition: right 0.4s;
    @include primary-font-for-right-menu-grabber();
    

    &:hover {
        cursor: pointer;
        right: 0rem;
    }

    .right-menu-grabber {
        margin: auto;
        display: flex;

        div {
            writing-mode: vertical-rl;
            transform: rotate(180deg);
            padding-bottom: 29px;
            margin-right: -1px;
        }

        i {
            padding-left: 4px;
            padding-top: 4px;
        }

        .fa-list {
            padding-top: 1px;
        }
    }


}