<nav class="navbar navbar-expand fixed-top nna-nav">
  <img src="/assets/logo.png" alt="logo" width="40" height="40">
  <span class="navbar-brand">No name app</span>
      <ul class="navbar-nav ml-auto">
          <li *ngIf='isAuthorized' class="nav-item">
            <a class="nav-link" (click)="onLoggedout()">
                {{ userManager.getCurrentUser() }} <i class="fa fa-fw fa-power-off"></i>
            </a>
          </li>

          <li *ngIf='!isAuthorized' class="nav-item">
            <a [routerLink]="['/login']" class="nav-link">
                <i class="fa fa-sign-in" ></i> {{ 'Log In' }}
            </a>
          </li>
          <li *ngIf='!isAuthorized' class="nav-item">
            <a [routerLink]="['/signup']" class="nav-link">
                <i class="fa fa-user-plus" ></i> {{ 'Register' }}
            </a>
          </li>
      </ul>
</nav>
