@import 'src/styles/fonts-mixins.scss';
@import "src/styles/colors.scss";

.collection-page {
	height: 100%;

	.collection-table-wrapper {

		.table-details {
			display: flex;
			align-self: center;
			height: 52px;

			position: sticky;
			top: 0;
			left: 0;
			right: 0;
			z-index: 100;
			background-color: white;
			box-shadow: 0 0 1em rgba(0, 0, 0, .1);
			margin-left: -14px;
			margin-right: -14px;
			padding-left: 14px;

			.collection-name-container {
				display: flex;
				align-items: center;
				align-self: center;
				height: 38px;

				.collection-name-header {
					display: flex;
					align-items: center;

					.collection-header {
						@include font-primary-heading();
						margin: 0;
						overflow-x: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
						max-width: 200px;
					}

					button {
						display: flex;
						margin-left: 8px;
					}
				}

				form {
					display: flex;
					height: 28px;

					.edit-collection-name {
						display: flex;
						align-items: flex-end;

						.nna-input {
							width: 200px;
						}

						button {
							margin-left: 8px;
						}
					}
				}
			}

			.show-flex {
				display: flex;
			}

			.search-container {
				flex: 1 1 100%;
				display: flex;
				align-self: center;
				justify-content: flex-end;
				cursor: pointer;
				margin-right: 16px;

				.fa-search {
					margin-right: -16px;
					cursor: pointer;
				}

				.fa-filter {
					margin-right: 8px;
				}

				.search-input {
					width: 0px;
					padding-left: 22px;
					transition: width .5s !important;
					cursor: pointer;

					&:focus {
						width: 240px;
						background-color: unset;
					}
				}
			}
		}

		.nna-table {
			width: 100%;

			.movie-cell {
				width: 350px;
				min-width: 220px;	
				border-right: 1px solid rgba(0,0,0,.12);
				min-height: 48px;
				background: unset;
				vertical-align: top;
				padding-top: 14px;
				
				display: flex;
				flex-direction: column;

				.movie-title-name {
					min-width: 200px;
				}

				.movie-progress-icon {
					margin-left: auto;
					margin-right: 8px;
				}
			}

			.comment-cell {
				text-align: left;
				.comment-content {
					min-width: 300px;
				}
			}

			.expand-row {
				.movie-cell {
					max-width: 400px;
					
					.expand-row-footer {
						.nna-button-secondary {
							margin-left: 8px;
						}
					}
				}
			}

			.hoverable-collapsed-element {
			 	&:hover {
					background: $input-underline-gradient, $input-underline-gradient;
					background-repeat: no-repeat;
					background-size: 100% 1px;
					background-position: bottom, top;
				}
			}

			.comment-header {
				pointer-events: none;
			}

			.movie-header {
				width: 350px;
			}

		}
	}

	.info-message {
		height: 100%;
		margin: auto;
	}

	.dmo-collection-table-paginator {
		background-color: white;
	}
}