<div class="collection-page">
    <div [hidden]="!shouldCollectionShowTable || collectionLength == 0" class='collection-table-wrapper'>
        <div class="table-details">
            <div class="collection-name-container">
                <div class="collection-name-header">
                    <p class="collection-header no-select" *ngIf="currentDmoCollection" [hidden]="showEditForm">{{currentDmoCollection.collectionName}} </p>
                    <button type="button" [hidden]="showEditForm" class='nna-icon-button nna-button-primary' (click)='showEditCollectionNameForm()'>
                        <i class="fa fa-pencil-alt" aria-hidden="true"></i>
                    </button>
                    <button type="button" [hidden]="showEditForm" class='nna-icon-button' (click)='onRemoveCollection()'>
                        <i class="fas fa-trash" aria-hidden="true"></i>
                    </button>

                    <button type="button" [hidden]="showEditForm" class="nna-button nna-button-primary" (click)="onAddDmo()">
                        add DMO 
                    </button>
                </div>
                <form [hidden]="!showEditForm" [formGroup]="editCollectionNameForm" (ngSubmit)="onEditCollectionName()" autocomplete="off">
                    <div class="edit-collection-name">
                        <input #editCollectionNameField type="text" name="collectionName" formControlName="collectionName"
                            class="nna-input search-input" placeholder="collection name" 
                            autocomplete="off">

                        <button type="submit" [disabled]="!editCollectionNameForm.valid" class='nna-icon-button nna-button-primary'
                            [ngClass]="{'nna-diabled-button': !editCollectionNameForm.valid}">
                            <i class="fa fa-check" aria-hidden="true"></i>
                        </button>
                        <button type="button" class='nna-icon-button' (click)="hideEditCollectionNameForm()">
                            <i class="fa fa-times" aria-hidden="true" style="font-size: 1rem; margin-top: 5px;"></i>
                        </button>
                    </div>
                    <div class="validation-wrapper">
                        <div *ngIf="collectionName.invalid && (collectionName.dirty)"
                            class="validation-container">
                            <div *ngIf="collectionName.errors.required">
                                <p class="validation-text">name is missing </p>
                            </div>
                            <div *ngIf="collectionName.errors.maxlength">
                                <p class="validation-text">Maximum name length is 20</p>
                            </div>
                        </div>
                    </div>
                </form>

            </div>

            <!-- 
            <div [hidden]="showEditForm" class="dmo-details-container" [ngClass]="{'show-flex': selectedDmoInCollection}">
                <button class="nna-button nna-button-primary" (click)="redirectToDmo()"> Open in editor</button>
                <button class="nna-button nna-button-secondary" (click)="removeFromCollection()"> Remove from collection </button>
            </div> 
            -->
            <!-- <div> number of acts, bits, episodes etc. </div> -->

            <div class="search-container">
                <i [hidden]="!showFilterMark" class="fa fa-filter " aria-hidden="true" title="Table is filtred"></i>
                <i class="fa fa-search text-muted"></i>
                <input type="text" class="nna-input search-input" (focus)="resetSelected()"
                    placeholder="dmo, movie, rating etc." (keyup)="applyCollectionFilter($event)" autocomplete="off">
            </div>

        </div>

        <table mat-table class="nna-table" [dataSource]="collectionTable" #collectionSort="matSort" matSort>

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef class="hoverable-element"> </th>
                <td mat-cell class="table-cell" *matCellDef="let row"> {{row.id}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="name" (click)="resetSelected()"
                    class="hoverable-element column-header no-select"> DMO name </th>
                <td mat-cell class="table-cell" *matCellDef="let row"> {{row.name}} </td>
            </ng-container>

            <ng-container matColumnDef="movieTitle">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="movieTitle" (click)="resetSelected()"
                    class="hoverable-element column-header no-select"> Movie title </th>
                <td mat-cell class="table-cell" *matCellDef="let row"> {{row.movieTitle}} </td>
            </ng-container>

            <ng-container matColumnDef="dmoStatus">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="dmoStatus" (click)="resetSelected()"
                    class="hoverable-element column-header no-select"> Status </th>
                <td mat-cell class="table-cell" *matCellDef="let row"> {{row.dmoStatus}} </td>
            </ng-container>

            <ng-container matColumnDef="shortComment">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="shortComment" (click)="resetSelected()"
                    class="hoverable-element column-header no-select"> Comment </th>
                <td mat-cell class="table-cell" *matCellDef="let row"> <p class="short-comment"> {{row.shortComment}} </p> </td>
            </ng-container>
            
            <!-- 
            <ng-container matColumnDef="mark">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="mark" (click)="resetSelected()"
                    class="hoverable-element column-header">
                     </th>
                <td mat-cell class="table-cell" *matCellDef="let row"> {{row.mark}} </td>
            </ng-container> -->

            
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef (click)="resetSelected()"
                    class="hoverable-element column-header">
                     </th>
                <td mat-cell class="table-cell" *matCellDef="let row"> 
                    <div #dmoActionButtons id="{{row.id}}" class="action-wrapper" >
                        <button class='nna-icon-button' (click)="redirectToDmo()" title="Open in editor">                
                            <i class="fa fa-pencil-alt" aria-hidden="true"></i>
                        </button>
                        <button class='nna-icon-button' (click)="removeFromCollection()" title="Remove Dmo from collection">                
                            <i class="fas fa-minus" aria-hidden="true"></i>
                        </button>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="collectionTableColumn"></tr>
            <tr mat-row class="hoverable-element" *matRowDef="let row; columns: collectionTableColumn;"
                [class.clicked-row]="selectedDmoInCollection == row" (click)="onRowSelect(row)">
            </tr>
        </table>

        <mat-paginator [hidden]="collectionLength < 11" class="dmo-collection-table-paginator" #collectionPaginator [length]="collectionLength" [pageSize]="10" (page)="onPaginateChange()"></mat-paginator>
    </div>

    <div class="info-message" [hidden]="collectionLength != 0">
        <span *ngIf="currentDmoCollection">'{{currentDmoCollection.collectionName}}' is empty</span>
        <button class="nna-button nna-button-primary" (click)="onAddDmo()" title="">
            Add Dmo to collection 
        </button>
        <span> or </span>
        <button type="button" class='nna-button nna-button-secondary'(click)='onRemoveCollection()'>
            Delete collection
        </button>
    </div>

    <div [hidden]="!showPopupOverview">
        <app-nna-spinner [hidden]="!awaitingForDmos" ></app-nna-spinner>
    </div>
</div>