@import 'src/styles/fonts-mixins.scss';

.collection-page {
  .collection-table-wrapper {

    .table-details {
      display: flex;

      .collection-name-container {
        display: flex;
        align-items: center;
        height: 38px;

        .collection-name-header {
          display: flex;
          align-items: center;

          .collection-header {
            @include font-primary-heading();
            margin: 0;
          }
          button {
            display: flex;
            margin-left: .5rem;
          }
        }

        form {
          display: flex;
          height: 2rem;
          .edit-collection-name {
            display: flex;
            align-items: flex-end;

            button {
              margin-left: .5rem;
            }
          }

          .validation-wrapper {
            margin-top: 0;
            margin-bottom: 0;
            height: 1rem;
            align-self: center;
            margin-left: .5rem;
            display: flex;
            margin-top: auto;
          }
        }
      }

      .dmo-details-container {
        display: none;
        justify-content: center;
        align-self: center;
        margin-right: auto;
        height: 2rem;

        button {
          align-self: center;
          margin-left: 1rem;
        }

        div {
          margin: auto;
          margin-left: 1rem;
        }
      }

      .show-flex {
        display: flex;
      }

      .search-container {
        flex: 0 1 240px;
        display: flex;
        margin-left: auto;
        align-self: flex-end;
        i {
          position: absolute;
        }
  
        .search-input {
          padding-left: 2rem;
          &:focus {
            background-color: unset;
          }
        }
      }
    }

    .nna-table {
      .table-cell {
        .action-wrapper {
          display: flex;
          opacity: 0;

          button {
            margin-left: 0.5rem;
          }
        }
        .action-wrapper-visibility {
          opacity: 1;
        }

        .short-comment {
          max-width: 200px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          margin: auto 0;
        }
      }
    }
  }
}
