.general-editor-wrapper {
    min-height: 100vh;
    margin: -1rem;
    padding: 1rem;
    background-image: url("/assets/editor_background.jpg");

    .controls-panel {
        height: 30px;
        display: flex;
        justify-content: flex-start;
        
        button {
            align-self: center;
        }
        button:not(:first-child) {
            margin-left: 0.5rem;
        }
    }

    .editor-board-wrapper {
        display: flex;
        flex-flow: row nowrap;
        min-height: 100vh;

        .editor-plot-flow {
            flex: 0 0 85px;
        }
        .editor-board {
            flex: 1 1 auto;
            margin-left: 1rem;;

            .editor-board-tools {
                height: 30px;
                display: flex;
                align-items: center;
                background-color: burlywood;
            }

            .beats-wrapper {
                max-width: 676px;
            }
        }
    }
    
}

.dmo-details-popup-button {
    display: flex;
    margin: auto;
}