@import '../../../styles/fonts-mixins.scss';
@import '../../../styles/colors.scss';

.general-editor-wrapper {
    height: 100%;
    margin: -1rem;
    padding: 1rem;

    .controls-panel {
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        z-index: 300;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background: white;
        margin-left: -1rem;
        margin-right: calc(-1rem - 1px);
        padding-right: calc(1rem + 1px);
        padding-left: 1rem;
        box-shadow: 0 0 1em rgba(0, 0, 0, .1);
        height: 43px;


        .movie-title {
            @include font-primary-heading();
            margin-bottom: unset;
        }

        .nna-button, .nna-icon-button {
            margin-left: 0.5rem;
        }

        .nna-icon-button {
            .material-icons {
                font-size: 20px;
            }
        }

        .editor-board-tools {
            display: flex;
            margin-left: auto;

            .socket-status-tooltip {
                padding: 5px;
                z-index: 250;
                width: fit-content;
                height: fit-content;

                .socket-status-tooltip-arrow {
                    border-left: solid;
                    border-left-width: 1px;
                    border-top: solid;
                    border-top-width: 1px;
                    border-image: $button-border-gradient;
                }
            }

            .socket-status-icon {
                svg {
                    cursor: pointer;

                    defs {
                        radialGradient {
                            .connection-indicator-online-color {
                                stop-color:#10f345
                            }
                            .connection-indicator-offline-color {
                                stop-color:#f31010
                            }
                            .connection-indicator-connecting-color {
                                stop-color:#f39810
                            }
                        }
                    }
                }
            }

            .autosave-icons {
                svg {
                    cursor: pointer;
                }
            }
        }
    }

    .editor-board-wrapper {
        display: flex;
        flex-flow: row nowrap;
        height: 100%;
        margin-top: 1rem;

        @media (min-width: 1100px) {
            justify-content: center;
        }

        
        app-plot-points-flow {
            flex: 0 0 2rem;
        }

        app-beats-flow {
            flex: 1 1 auto;
            @media (min-width: 1100px) {
                flex: 0 1 50% !important;
            }
        }
    }
    
}


.dmo-details-popup-button {
    display: flex;
    margin: auto;
}