.general-editor-wrapper {
    min-height: 100vh;
    margin: -1rem;
    padding: 1rem;
    background-image: url("/assets/editor_background.jpg");

    .controls-panel {
        height: 32px;
        display: flex;
        justify-content: flex-start;
        
        button {
            align-self: center;
        }
        button:not(:first-child) {
            margin-left: 0.5rem;
        }

        .editor-board-tools {
            height: 32px;
            display: flex;
            align-items: center;

            .info-icons {
                display: flex;
                align-items: center;

                .spinner-wrapper {
                    position: relative;
                    width: 0px;
                    .cloud-spinner {
                        position: absolute;
                        left: 5px;
                        top: -6px;
                    }
                }
                mat-progress-spinner { 
                    position: relative;
                    left: 19px;
                }
            }
        }
    }

    .editor-board-wrapper {
        display: flex;
        flex-flow: row nowrap;
        min-height: 100vh;

        
        app-plot-points-flow {
            flex: 0 0 2rem;
            // background-color: blueviolet;
        }

        app-beats-flow {
            flex: 1 1 auto;
            // background-color: cadetblue;
        }
    }
    
}

.dmo-details-popup-button {
    display: flex;
    margin: auto;
}