
<div *ngIf='isDmoInfoSet' class="general-editor-wrapper">
    <div class="controls-panel">
        <button class="nna-button nna-button-primary" (click)='editCurrentDmo()'>Edit DMO details</button>
        <button class="nna-button nna-button-primary" (click)='closeEditor()'>Close editor</button>
        <button class="nna-button nna-button-primary" (click)='finishDmo()'>Finish DMO</button>
    </div>
    <div *ngIf="!beatsLoading" class="editor-board-wrapper">
        <div class="editor-plot-flow">
            <app-plot-flow 
                [timeFlowData]="plotFlow" 
                [finishDMO]="finishDmoEvent"
                [reRender]="reRenderPlotFlowEvent"
                (plotPointChanged)="plotTimeChanged($event)">
            </app-plot-flow>
        </div>
        <div class="editor-board">
            <div class="editor-board-tools"> 
                Some usefull info should be here
            </div>
            
            <div class="beats-wrapper">
                <app-beats-container 
                    [beatsData]="beatsData" 
                    (changeLine)="changeLine($event)"
                    (lineCountChanged)="lineCountChanged($event)"
                    (beatsTextChanged)="beatsTextChanged($event)"
                    (beatAdded)="beatAdded($event)"
                    (beatRemoved)="beatRemoved($event)">
                </app-beats-container>
            </div>
        </div>
    </div>

    <div *ngIf="beatsLoading" class="loader-container">
        <mat-progress-spinner diameter="40" mode="indeterminate"></mat-progress-spinner>
    </div>
    
    <!-- <mat-tab-group [disableRipple]="true" [dynamicHeight]="true" animationDuration="0ms">
        <mat-tab  label="Editor">  -->
            <!-- <input type="text" #dmobit name="bit" class="form-control input-underline-light" placeholder="bit">     -->
        <!-- </mat-tab>
        <mat-tab label="Details"> some staff    
        </mat-tab>
    </mat-tab-group>  -->
</div>
<div *ngIf='!isDmoInfoSet && !isInitialPopupOpen'>
    <button class="dmo-details-popup-button nna-button nna-button-primary" (click)='createAndInitDmo()'>Create DMO</button>
</div>


