
<div *ngIf='isDmoInfoSet' class="general-editor-wrapper">
    <div class="controls-panel">
        <button class="nna-button nna-button-primary" (click)='editCurrentDmo()'>Edit DMO details</button>
        <button class="nna-button nna-button-primary" (click)='closeEditor()'>Close editor</button>
    </div>
    <div class="editor-board-wrapper">
        <div class="editor-plot-flow" *ngIf="plotFlow">
            <app-plot-flow [timeFlowData]="plotFlow" [addBeat]="addBeatEvent" [removeBeat]="removeBeatEvent" [finishDMO]="finishDmoEvent"></app-plot-flow>
        </div>
        <div class="editor-board">
            <div class="editor-board-tools"> 
                <!-- Don't like such solution. Maybe I should add here some beats counter or some dmo general info. Number of acts, structural elements etc. But not microsoft-word-like bunch of buttons, tools and other useless shit -->
                <button class="nna-button nna-button-primary" (click)='addBeat()'>Add beat</button>
                <button class="nna-button nna-button-primary" (click)='removeBeat()'>Remove beat</button>
                <button class="nna-button nna-button-primary" (click)='finishDmo()'>Finish DMO</button>
            </div>
            
            <div class="beats-wrapper" *ngIf="beatsData">
                <app-beats-container [beatsData]="beatsData"></app-beats-container>
            </div>
        </div>
    </div>
    
    <!-- <mat-tab-group [disableRipple]="true" [dynamicHeight]="true" animationDuration="0ms">
        <mat-tab  label="Editor">  -->
            <!-- <input type="text" #dmobit name="bit" class="form-control input-underline-light" placeholder="bit">     -->
        <!-- </mat-tab>
        <mat-tab label="Details"> some staff    
        </mat-tab>
    </mat-tab-group>  -->
</div>
<div *ngIf='!isDmoInfoSet && !isInitialPopupOpen'>
    <button class="dmo-details-popup-button nna-button nna-button-primary" (click)='createAndInitDmo()'>Create DMO</button>
</div>


