
<div *ngIf='isDmoInfoSet' class="general-editor-wrapper">
    <div class="controls-panel">
        <button class="nna-button nna-button-primary" (click)='editCurrentDmo()'>Edit DMO details</button>
        <button class="nna-button nna-button-primary" (click)='closeEditor()'>Close editor</button>
        <button class="nna-button nna-button-primary" (click)='finishDmo()'>Finish DMO</button>
    </div>
    <div *ngIf="!beatsLoading" class="editor-board-wrapper">
        <div class="editor-plot-flow">
            <app-plot-flow 
                [timeFlowData]="plotFlow" 
                [finishDMO]="finishDmoEvent"
                [reRender]="reRenderPlotFlowEvent"
                (plotPointChanged)="plotTimeChanged($event)">
            </app-plot-flow>
        </div>
        <div class="editor-board">
            <div class="editor-board-tools"> 
                <div class="info-icons">
                    <mat-progress-spinner *ngIf="beatsUpdating"  diameter="20" mode="indeterminate"></mat-progress-spinner>
                    
                    <svg *ngIf="beatsUpdating"  xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M19.35 10.04C18.67 6.59 15.64 4 12 4 9.11 4 6.6 5.64 5.35 8.04 2.34 8.36 0 10.91 0 14c0 3.31 2.69 6 6 6h13c2.76 0 5-2.24 5-5 0-2.64-2.05-4.78-4.65-4.96zM19 18H6c-2.21 0-4-1.79-4-4s1.79-4 4-4h.71C7.37 7.69 9.48 6 12 6c3.04 0 5.5 2.46 5.5 5.5v.5H19c1.66 0 3 1.34 3 3s-1.34 3-3 3z"/>
                        <!-- empty cloud -->
                    </svg>

                    <svg *ngIf="!beatsUpdating"  xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M19.35 10.04C18.67 6.59 15.64 4 12 4 9.11 4 6.6 5.64 5.35 8.04 2.34 8.36 0 10.91 0 14c0 3.31 2.69 6 6 6h13c2.76 0 5-2.24 5-5 0-2.64-2.05-4.78-4.65-4.96zM10 17l-3.5-3.5 1.41-1.41L10 14.17 15.18 9l1.41 1.41L10 17z"/>
                        <!-- cloud with check -->
                    </svg>

                </div>
            </div>
            
            <div class="beats-wrapper">
                <app-beats-container 
                    [beatsData]="beatsData" 
                    (changeLine)="changeLine($event)"
                    (lineCountChanged)="lineCountChanged($event)"
                    (beatsTextChanged)="beatsTextChanged($event)"
                    (beatAdded)="beatAdded($event)"
                    (beatRemoved)="beatRemoved($event)">
                </app-beats-container>
            </div>
        </div>
    </div>

    <div *ngIf="beatsLoading" class="loader-container">
        <mat-progress-spinner diameter="40" mode="indeterminate"></mat-progress-spinner>
    </div>
    
    <!-- <mat-tab-group [disableRipple]="true" [dynamicHeight]="true" animationDuration="0ms">
        <mat-tab  label="Editor">  -->
            <!-- <input type="text" #dmobit name="bit" class="form-control input-underline-light" placeholder="bit">     -->
        <!-- </mat-tab>
        <mat-tab label="Details"> some staff    
        </mat-tab>
    </mat-tab-group>  -->
</div>
<div *ngIf='!isDmoInfoSet && !isInitialPopupOpen'>
    <button class="dmo-details-popup-button nna-button nna-button-primary" (click)='createAndInitDmo()'>Create DMO</button>
</div>


