<div *ngIf="isProcessing" >
    <app-nna-spinner></app-nna-spinner>
</div>

<div class="mail-page">
    <div class="mail-form-container" *ngIf="reason && validReason">
        <img src="/assets/logo-en-extend.svg" alt="logo" class="logo" (click)='redirectToHome()'>
        <p class="header" [ngSwitch]="reason">
            <span *ngSwitchCase="'new'">Set new password</span>
            <span *ngSwitchCase="'reset'">Reset password</span>
        </p>
        <form *ngIf="!isSent && isNotSent && !sentCompleted" role="form" [formGroup]="mailForm" (ngSubmit)="onSubmit()" class="mail-form" autocomplete="on">
            <div class="auth-slider-container">
                <div class="auth-sliders">

                    <div id="email-input" class="nna-input-group auth-input">
                        <input #emailInpup type="text" name="email" id="email" formControlName="email" class="form-control nna-input" placeholder="Email"
                            (keyup)="specialTrigger($event)" (keydown)="checkKey($event)" autocomplete="email"/>
                        <label for="email" class="nna-input-label"> 
                            <span *ngIf="!emailInvalid">Email</span> 
                            <span class="validation-container" *ngIf="emailInvalid">{{emailValidationToShow}}</span>
                        </label>
                        <span [hidden]="!emailInvalid" class="validation-icon material-icons" title="{{emailValidationToShow}}"> warning_amber</span>
                    </div>

                </div>
 
                <div class="auth-buttons">
                    <button [disabled]="isProcessing" type="button" class="nna-icon-button" (click)="navigateBack()"> < </button>
                    <button [disabled]="isProcessing" type="submit" class="nna-button-primary">Submit</button>
                </div>
            </div>
        </form>

        <div class="message-container" *ngIf="isSent && sentCompleted">
            <p>We've sent you an email. Please go to <strong>{{email.value}}</strong> and follow further instructions.</p>
            <p>It could take a few minutes to appear, and be sure to check any spam and promotional folders</p>
            <button type="button" class="nna-button-primary" (click)="redirectToHome()">Home</button>
        </div>

        <div class="message-container" *ngIf="isNotSent && sentCompleted">
            <p>We failed to send email to <strong>{{email.value}}</strong></p>
            <button type="button" class="nna-button-primary" (click)="resetForm()">Try again</button>
        </div>
    </div>
</div>

