@import "src/styles/colors.scss";
@import "src/styles/fonts-mixins.scss";

.user-cabinet {
	border: none;
	height: 100%;

	.user-cabinet-header {
		background: $input-underline-gradient;
		background-repeat: no-repeat;
		background-size: 100% 1px;
		background-position: bottom;
		border-bottom: none !important;
		height: 41px;
		display: flex;
		align-items: center;
		padding: 0 11px;
	}

	.personal-info-container {
		display: flex;
		flex-direction: column;
		height: 100%;

		.personal-info-block {
			margin: 14px 11px 0 11px;
			width: unset;
			display: flex;

			.linked-accounts-container {
				flex-direction: column;
				p {
					font-size: 11px;
					margin-bottom: 6px;
				}
			}
		}

		.block-with-toggler {
			min-height: 65px;
		}

		.last-block {
			margin-top: auto;
			margin-left: auto;
			margin-bottom: 11px;

		}

		.block-with-button-wrapper {
			display: flex;
    		align-items: flex-start;
			min-height: 65px;

			.block-with-button {
				display: flex;
				width: 100%;

				.nna-input-group {
					display: flex;
					input {
						margin-top: 5px;
					}
				}

				button {
					margin-left: 8px;
					align-self: flex-end;
				}

				.single-icon {
					align-self: flex-end;
					margin-bottom: 4px;
					margin-right: 8px;
					margin-left: 8px;
				}
			}
		}

		.change-username-form-wrapper {
			min-height: 65px;
			padding: 0;
			display: flex;
			flex-direction: column;
	  
			.change-username-form {
				display: flex;
				align-items: flex-start;
	  
				.nna-input-group {
					display: flex;
					input {
						flex: 1 1 70%;
						margin-top: 5px;
					}
				}

				button {
					margin-left: 8px;
					align-self: flex-end;
				}
			}

			.validation-wrapper {
				display: flex;
				justify-content: center;
				margin-top: 6px;
			}
		}

		.change-password-form-wrapper {
			width: 100%;

			.change-password-form {
				.nna-input-group {
					&:nth-child(2) {
						top: 7px;
						margin-bottom: 7px;
					}
				}

				.change-password-buttons-wrapper {
					margin-top: 11px;
					display: flex;

					.nna-icon-button {
						.material-icons {
							font-size: 14px;
						}
					}

					.main-buttons {
						display: flex;
						margin-left: auto;
						
						.nna-icon-button {
							margin-left: 8px;
						}
					}
				}
			}

			.change-password-validations {
				margin-top: 11px;

				p {
					margin-bottom: 11px;
				}
			}
		}

		.change-password-button, .set-password-button, .change-password-response-container {
			width: 100%;
			margin-top: 14px;
			.nna-button {
				width: 100%;
				justify-content: center;
			}

			p {
				width: 100%;
				font-size: 11px;
			}
		}
	}
}