@import "src/styles/colors.scss";
@import "src/styles/fonts-mixins.scss";

.user-cabinet {
	border: none;

	.user-cabinet-header {
		background: $input-underline-gradient;
		background-repeat: no-repeat;
		background-size: 100% 1px;
		background-position: bottom;
		border-bottom: none !important;
		height: 41px;
		display: flex;
		align-items: center;
		padding: 0 .75rem;
	}

	.personal-info-container {
		display: flex;
		flex-direction: column;

		.personal-info-block {
			margin: 1rem 0.75rem 0 0.75rem;
			width: unset;
			display: flex;
		}

		.block-with-button-wrapper {
			display: flex;
    		align-items: flex-start;
			min-height: 65px;

			.block-with-button {
				display: flex;
				width: 100%;

				.nna-input-group {
					display: flex;
					input {
						margin-top: 5px;
					}
				}

				button {
					margin-left: 0.4rem;
					align-self: flex-end;
				}

				.single-icon {
					align-self: flex-end;
					margin-bottom: 0.3rem;
					margin-right: 0.5rem;
				}
			}
		}

		form {
			min-height: 65px;
			width: 100%;
			padding: 0;
			display: flex;
			flex-direction: column;
	  
			.change-username-form {
				display: flex;
				align-items: flex-start;
	  
				.nna-input-group {
					display: flex;
					input {
						flex: 1 1 70%;
						margin-top: 5px;
					}
				}

				button {
					margin-left: 0.4rem;
					align-self: flex-end;
				}
			}

			.change-password-form {
				display: flex;
				align-items: flex-start;
				flex-direction: column;

				.nna-input-group {
					display: flex;
					margin-top: 5px;
				}
			}

			.validation-wrapper {
				height: 1.75rem;
				display: flex;
				justify-content: center;
				margin-top: .4rem;
			}
		}
	}
}