<div class="card card-default mb-3 user-cabinet">
    <div class="card-header user-cabinet-header no-select"> Personal info </div>
    <div *ngIf="isFormProcessing || isFormProcessingAfterEdit" class="personal-info-spinner">
        <app-nna-spinner></app-nna-spinner>
    </div>

    <div [hidden]="isUserNotFound || isFormProcessing || unhandledError" class="personal-info-container">

        <div class="personal-info-block block-with-button-wrapper">
            <div class="block-with-button" *ngIf="personalInfo">
                <div class="nna-input-group">
                    <input autocomplete="off" type="text" name="email" id="email" value="{{personalInfo.userEmail}}" class="nna-input" disabled />
                    <label for="email" class="nna-input-label">Email</label>
                </div>
                <i *ngIf="personalInfo.isEmailVerified == true && emailForAccountConfirmationHasBeenSent == false" class="fa fa-check single-icon" aria-hidden="true" title="Account is verified"></i>
                <button *ngIf="personalInfo.isEmailVerified == false && emailForAccountConfirmationHasBeenSent == false" type="button" class='nna-icon-button nna-button-primary' (click)='sendVerifyEmail()' title="Send email to verify account">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </button>
                <i *ngIf="emailForAccountConfirmationHasBeenSent == true" class="fa fa-paper-plane single-icon" aria-hidden="true" title="Email has been sent"></i>
            </div>
        </div>

        <div [hidden]="showUserNameChangeForm" class="personal-info-block block-with-button-wrapper">
            <div class="block-with-button">
                <div class="nna-input-group">
                    <input #demoName autocomplete="off" type="text" name="demoName" id="demoName" class="nna-input" disabled />
                    <label for="demoName" class="nna-input-label">Nickname</label>
                </div>
                <button type="button" class='nna-icon-button nna-button-primary' (click)='toggleChangeUserNameForm(true)'>
                    <i class="fa fa-pencil-alt" aria-hidden="true"></i>
                </button>
            </div>
        </div>

        <form [hidden]="!showUserNameChangeForm" [formGroup]="changeUserNameForm" (ngSubmit)="onUserNameChange()" autocomplete="off" class="personal-info-block change-username-form-wrapper">
            <div class="change-username-form">
                <div class="nna-input-group">
                    <input id="userName" #userName autocomplete="off" type="text" name="userName" formControlName="userName" class="nna-input" placeholder="Nickname">
                    <label for="userName" class="nna-input-label">Nickname</label>
                </div>
                <button type="submit" [disabled]="!changeUserNameForm.valid" class='nna-icon-button nna-button-primary'
                    [ngClass]="{'nna-diabled-button': !changeUserNameForm.valid}">
                    <i class="fa fa-check" aria-hidden="true"></i>
                </button>
                <button type="button" class='nna-icon-button' (click)="toggleChangeUserNameForm(false)">
                    <i class="fa fa-times" aria-hidden="true" style="font-size: 14px; margin-top: 5px;"></i>
                </button>
            </div>
            <div *ngIf="changeUserNameForm.invalid && changeUserNameForm.dirty && !hasServerValidationMessage" class="validation-wrapper">
                <div *ngIf="changeUserNameForm.controls.userName.errors" class="validation-container">
                    <div *ngIf="changeUserNameForm.controls.userName.errors.required">
                        <p class="validation-text">Nickname is missing</p>
                    </div>
                    <div *ngIf="changeUserNameForm.controls.userName.errors.maxlength">
                        <p class="validation-text">Maximum dmo nickname length exceeded</p>
                    </div>
                </div>
            </div>
            <div *ngIf="hasServerValidationMessage" class="validation-wrapper">
                <div class="validation-container">
                    <div>
                        <p class="validation-text">{{serverValidationMessage}}</p>
                    </div>
                </div>
            </div>
        </form>


        <div [hidden]="!personalInfo?.hasPassword || passwordChanged" class="personal-info-block">

            <div [hidden]="showPasswordChangeForm" class="change-password-button">
                <button type="button" class='nna-button nna-button-secondary no-select' (click)="toggleChangePasswordForm(true)">
                    Change password
                </button>
            </div>

            <form [hidden]="!showPasswordChangeForm" [formGroup]="changePasswordForm" (ngSubmit)="onPasswordChange()" class="change-password-form-wrapper">
                <div class="change-password-form">
                    <div class="nna-input-group">
                        <input #oldPasswordInput type="password" class="nna-input" name="oldPassword" id="oldPassword" formControlName="oldPassword" placeholder="Current password" />
                        <label for="oldPassword" class="nna-input-label">Current password</label>
                    </div>

                    <div class="nna-input-group">
                        <input #newPasswordInput type="password" class="nna-input" name="newPassword" id="newPassword" formControlName="newPassword" placeholder="New password" /> 
                        <label for="newPassword" class="nna-input-label">New password</label>
                    </div>

                    <div class="change-password-buttons-wrapper">
                        <button type="button" class='nna-icon-button nna-button-primary' title="{{passwrodTogglerTitle}}" (click)="togglePassword()">
                            <span *ngIf="passwordHidden" class="material-icons"> visibility</span>
                            <span *ngIf="!passwordHidden" class="material-icons"> visibility_off</span>
                        </button>

                        <div class="main-buttons">
                            <button type="submit" class='nna-icon-button nna-button-primary'>
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </button>
                            <button type="button" class='nna-icon-button' (click)="toggleChangePasswordForm(false)">
                                <i class="fa fa-times" aria-hidden="true" style="font-size: 14px; margin-top: 5px;"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="change-password-validations">
                    <p *ngIf="missingPasswordValidation" class="validation-text">Current password is missing</p>
                    <p *ngIf ="missingNewPasswordValidation" class="validation-text">New password is missing</p>
                    <p *ngIf ="minLenghtPasswordValidation" class="validation-text">Password must be at least 10 characters long</p>
                    <p *ngIf="notAllowedCharactersInPasswordValidation" class="validation-text">Non-allowed symbols detected</p>
                </div> 

            </form>

        </div>

        <div [hidden]="!passwordChanged" class="personal-info-block">
            <div class="change-password-response-container">
                <p>Password was successfully changed</p>
            </div>
        </div>

        <div [hidden]="personalInfo?.hasPassword || passwordChanged" class="personal-info-block">
            <div class="set-password-button">
                <button type="button" class='nna-button nna-button-secondary' (click)="redirectToSetPasswordPage()">
                    Set password
                </button>
            </div>
        </div>
        
        <div *ngIf="personalInfo?.authProviders && personalInfo?.authProviders?.length > 0" class="personal-info-block">
            <div class="linked-accounts-container">
                <p class="no-select">Linked accounts:</p>
                <app-google-button *ngIf="googleIsLinked" [disabled]="true"></app-google-button>
            </div>
        </div>


        <div class="personal-info-block last-block">
            <button class="nna-button nna-button-primary" (click)="onLoggedout()">
                 Logout
            </button>
        </div>

    </div>

    <div class="personal-info-container" [hidden]="!isUserNotFound">
        <div class="personal-info-block nna-input-group">
            User is not found
        </div>
    </div>

</div>