<div class="plotflow">
    <div class="time-pickers-container">

        <h6 class="time-picker-box">Start</h6>
        <app-time-picker #timePickers *ngFor="let beatDto of currentDmo.beats;" 
            class="time-picker-box"
            [beatDto]='beatDto' 
            (timeSetEvent)="timeSet($event)">
        </app-time-picker>   
        <h6 #lastPickerBox class="time-picker-box" *ngIf="currentDmo.isFinished">End</h6>

    </div>
    <div class="time-tracker-graph">
        <svg #graphBase class="graph-base" [attr.width]="plotFlowWidth">
            <polyline [attr.points]="startCoord" class="start-end-coord" />
            <polyline [attr.points]="baseCoord" class="graph-coord" />
            <polyline *ngIf="currentDmo.isFinished" [attr.points]="endCoord" class="start-end-coord" />
        </svg>
        <div appPlotPoint></div>
    </div>
</div>

