.canvas-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    max-width: 4rem;

    .time-tracker-container {
        flex: 1 1 auto;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        .plot-flow-height {
            margin: 0;
            height: 2rem;
            display: flex;
        }
    }
    
    .time-tracker-canvas {
        margin-top: 0.5rem;
        width: 16px;
        height: 300px;
        flex-shrink: 0;
        flex-grow: 0;
    }
}