<div *ngIf="timeFlowData" class="plotflow">
    <div class="time-pickers-container">

        <h6 class="time-picker-box">Start</h6>
        <app-time-picker #timePickers *ngFor="let plotPoint of timeFlowData.plotPoints;" 
            class="time-picker-box"
            [plotPoint]='plotPoint' 
            (timeSetEvent)="timeSet($event)">
        </app-time-picker>   
        <h6 class="time-picker-box" *ngIf="timeFlowData.isFinished">End</h6>

    </div>
    <div class="time-tracker-graph">
        <svg class="graph-base" [attr.width]="plotFlowWidth">
            <polyline [attr.points]="startCoord" class="start-end-coord" />
            <polyline [attr.points]="someShit" class="graph-coord" />
            <polyline [attr.points]="endCoord" class="start-end-coord" />
        </svg>

        <app-plot-point>
        </app-plot-point>
    </div>
</div>

