.plotflow {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 100%;

    .time-pickers-container {
        flex: 1 1 3rem;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        .time-picker-box {
            margin: 0;
            height: 32px;
            display: flex;
        }

        h6 {
            align-items: center;
        }
    }
    
    .time-tracker-graph {
        flex: 0 0 32px;

        .graph-base {
            position:absolute;
            z-index: 10;
            height: 100%;

            .start-end-coord {
                fill: none;
                stroke:black;
                stroke-width: 4;
            }

            .graph-coord {
                fill: none;
                stroke:black;
                stroke-width: 2;
            }
        }
    }
}