@import "src/styles/colors.scss";
@import "src/styles/fonts-mixins.scss";

.dmos-page {
  .dmos-table-details {
    display: flex;
    width: 100%;
    height: 38px;

    .dmo-info {
      display: flex;
      align-self: center;

      button {
        margin-left: 1rem;
      }
    }

    .search-container {
      flex: 0 1 240px;
      display: flex;
      margin-left: auto;
      align-self: flex-end;
      i {
        position: absolute;
      }

      .search-input {
        padding-left: 2rem;
        &:focus {
          background-color: unset;
        }
      }
    }
  }

  .dmos-table-wrapper {
    .dmos-table-paginator {
      background-color: white;
    }
  }
}
