@import "src/styles/colors.scss";
@import "src/styles/fonts-mixins.scss";

.dmos-page {
  .dmos-table-details {
    display: flex;
    width: 100%;
    height: 38px;

    .dmo-info {
      display: flex;
      align-self: center;

      button {
        margin-left: 1rem;
      }
    }

    .search-container {
      flex: 0 1 220px;
      display: flex;
      margin-left: auto;
      i {
        position: absolute;
        margin-top: 0.6rem;
        margin-left: 1rem;
      }

      .search-input {
        padding-left: 2.5rem;
        &:focus {
          background-color: unset;
        }
      }
    }
  }
}
