@import "src/styles/colors.scss";
@import "src/styles/fonts-mixins.scss";

.dmos-page {
	height: 100%;

	.info-message {
		height: 100%;
		margin: auto;
	}

	.dmos-table-details {
		display: flex;
		width: 100%;
		height: 52px;
		position: sticky;
		top: 0;
		z-index: 100;
		background-color: white;
		padding-left: 14px;
		padding-right: 14px;
		outline: white solid 14px; // shity fix

		.dmo-info {
			display: flex;
			align-self: center;
			height: 26px;

			.dmos-header {
				@include font-primary-heading();
				margin: 0;
				width: 320px;
				margin-right: 8px;
			}

			.nna-button-secondary  {
				margin-left: 8px;
			}
		}

		.search-container {
			flex: 1 1 100%;
			display: flex;
			align-self: center;
			justify-content: flex-end;
			cursor: pointer;

			.fa-search {
				margin-right: -14px;
				cursor: pointer;
			}

			.fa-filter {
				margin-right: 8px;
			}

			.search-input {
				width: 0px;
				padding-left: 28px;
				transition: width .5s !important;
				cursor: pointer;

				&:focus {
					width: 240px;
					background-color: unset;
				}
			}
		}
	}

	.dmos-table-wrapper {
		

		.dmos-table {
			.hoverable-dmo-element {
				&:hover {
					background: $input-underline-gradient, $input-underline-gradient;
					background-repeat: no-repeat;
					background-size: 100% 1px;
					background-position: bottom, top;
				}
			}
		}


		.dmos-table-paginator {
			background-color: white;
		}
	}
}