.time-picker-container {
    $active-color: #1a69a4;
    $validation-color: #ff8c00;

    @mixin setBorder($color) {
        outline: none;
        background: repeating-linear-gradient(
            90deg,
            $color 0px, 
            $color 8.6px,
            transparent 8.6px,
            transparent 17.2px,
            $color 17.2px,
            $color 25.8px,
            transparent 25.8px,
            transparent 26.8px,
            $color 26.8px,
            $color 35.4px,
            transparent 35.4px,
            transparent 45.2px,
            $color 45.2px,
            $color 53.8px,
            transparent 53.8px,
            transparent 54.8px,
            $color 54.8px,
            $color 62.4px,
            transparent 62.4px,
            transparent 63px
         );
         background-repeat: no-repeat;
         background-size: 63px 1px;
         background-position: bottom;
    }

    .time-picker {
        display: block;
        border: none;
        padding: 0;
        width: 63px;
        font: 1.8ch droid sans mono, consolas, monospace;
        background: transparent;

        &:focus {
            @include setBorder($active-color);
            color: $active-color;
        }
    }

    .time-picker[type="number"]::-webkit-outer-spin-button,
    .time-picker[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    .time-picker[type="number"] {
        -moz-appearance: textfield;
    }

    .invalid {
        @include setBorder($validation-color);
    }
}