.initial-dmo-editor-popup {
    .modal-header {
        margin: 0 0 20px;
    }

    .modal-body {
        margin: 0 0 20px;

        input, textarea {
            margin: 0.5rem;
        }

        .validation-wrapper-popup {
            margin: 0.4rem 1rem !important;
        }
    }

    .modal-footer { }
}