<div class="initial-dmo-editor-popup">
    <div class="modal-header" mat-dialog-title>
        <h4 class="modal-title" id="modal-basic-title">New DMO</h4>
    </div>
    <div class="modal-body" mat-dialog-content>
        <form role="form" [formGroup]="dmoForm">
            <input autocomplete="off" type="text" name="movieTitleInput" formControlName="movieTitleInput" 
                class="form-control input-underline-light" placeholder="Movie title*" />
            <input autocomplete="off" type="text" name="dmoNameInput" formControlName="dmoNameInput" 
                class="form-control input-underline-light" placeholder="DMO name*" />
            <textarea autocomplete="off" name="shortComment" formControlName="shortComment" 
                class="form-control input-underline-light" rows="2" placeholder="Short comment"></textarea>
            <div class="validation-wrapper">

            </div>
        </form>
    </div>
    <div class="modal-footer" mat-dialog-actions>
        <button type="button" class="nna-button nna-button-secondary" (click)="onClose(true)">Cancel</button>
        <button type="button" class="nna-button nna-button-primary" [ngClass]="{'nna-diabled-button': !dmoForm.valid}" 
            [disabled]="!dmoForm.valid" (click)="onClose(false)">{{isEdit ? 'Save' : 'Start decomposition' }}</button>
    </div>
</div>