<div class="base-modal">
    <div class="base-modal-header">
        <p>Delete collection</p>
    </div>
    <div class="base-modal-body">
        <p> Are you sure you want to delete '{{collectionName}}' collection?</p>
        <p> Don't worry, this action won't remove your DMOs.</p>
    </div>
    <div class="base-modal-footer">
        <button type="button" class="nna-button-secondary" (click)="onClose(false)">Cancel</button>
        <button type="button" class="nna-button-primary" (click)="onClose(true)">Delete</button>
    </div>
</div>