@import "colors.scss";
@import "fonts-mixins.scss";

@mixin nna-button() {
    display: flex;
    cursor: pointer;
    text-align: center;
    vertical-align: baseline;
    align-items: center;
    text-decoration: none;
    background-color: transparent;
    min-height: 1.75rem;
    height: 1.75rem;
    text-transform: lowercase;
    padding: .5rem .75rem;
    white-space: nowrap;

    border-radius: unset;
    border-style: solid;
    border-width: 1px;
    border-image: $button-border-gradient;

    outline: 1px solid transparent;
    outline-offset: -1px;
    
    &:active {
        color: $primary-color;
        background-color: $secondary-color;
        outline: 1px solid $secondary-color;
        outline-offset: -1px;
    }

    &:focus {
        outline: none;
    }
}

.nna-button-primary {
    @include nna-button();
    @include font-primary-info();
    background-color: $primary-color;
}

.nna-button-secondary {
    @include nna-button();
    @include font-primary-info();
}

.nna-diabled-button {    
    pointer-events: none;
}

.nna-icon-button {
    @include nna-button();
        font-size: .7rem;
        min-width: 1.75rem;
        width: 1.75rem;
        padding: 0;
        justify-content: center;
        
        i, span {
            display: flex;
            margin: auto;
            display: flex;
        }
}

.first-nna-button {
    margin-left: 0px !important;
}