$primary-color: #F8C33C;
$secondary-color: #9B00D1;
$intermidiate-color: #F0CEC4;
$validation-color: #BF0404;

$button-border-gradient: linear-gradient(to right bottom, $primary-color 0%,  $intermidiate-color 40%, $secondary-color 100%) 1;
$input-underline-gradient: repeating-linear-gradient(90deg,$primary-color 0px,$intermidiate-color 40%,$secondary-color 100%);

