$primary-color: #F8C33C; 
$secondary-color: #9B00D1;
$intermidiate-color: #F0CEC4;
$validation-color: #BF0404;
$background-color: #E5E5E5;
$for-background-contrast-color:#212123;


$button-border-gradient: linear-gradient(to right bottom, $primary-color 0%,  $intermidiate-color 40%, $secondary-color 100%) 1;
$input-underline-gradient: repeating-linear-gradient(90deg,$primary-color 0px,$intermidiate-color 40%,$secondary-color 100%);
$sidebar-border: repeating-linear-gradient(90deg, rgba($primary-color, 0.01) 0px,$intermidiate-color 50%,$secondary-color 100%);

$background-spinner-gradient: radial-gradient(circle,  $primary-color  0%, $intermidiate-color 60%, $secondary-color  100%);
$border-spinner-gradient: linear-gradient($primary-color 0%, $intermidiate-color 60%, $secondary-color 100%);
$global-selection-background-color: rgba($primary-color, .7);
$droppable-background-color: rgba($secondary-color, .1);
$dragabble-background-color: rgba($primary-color, .2);
$active-primary-background-color: rgba($primary-color, .2);
$sidebar-background-color: rgba($primary-color, 0.6); 
