
@mixin secondary-font() {
    font: 14px 'Courier New', Courier, monospace;      //this is open standart for screenplay text
    line-height: 1.4em;
}  

@mixin secondary-font-for-input {
    font: 1.3rem 'Courier New', Courier, monospace; 
}

@mixin primary-font-for-sidebar {
    font: 1rem 'Comfortaa';
    line-height: 1.5rem;
}

@mixin primary-font-for-input-active-label {
    font: 1.3rem 'Comfortaa';
}

@mixin primary-font-for-input-label {
    font: 1rem 'Comfortaa';
}

@mixin primary-font-for-info-message {
    font: 1.2rem 'Comfortaa';
}

@mixin primary-heading-font() {
    font: 22px 'Comfortaa';
}

@mixin primary-action-font() {
    font: 14px 'Comfortaa';
}
  