$primary-font: 'Comfortaa', sans-serif;
$secondary-font: 'Courier New', Courier, monospace; //this is open standart for screenplay text

@mixin font-primary-heading {
    font-family: $primary-font !important;
    font-style: normal !important;
    font-size: 1.375rem !important; // 22px
}

@mixin font-primary-info {
    font-family: $primary-font !important;
    font-style: normal !important;
    font-size: .875rem !important; // 14px
}

@mixin font-secondary-info {
    font-family: $secondary-font !important;
    font-style: normal !important;
    font-size: .875rem !important; // 14px
}


