$primary-font: 'Comfortaa', sans-serif;
$secondary-font: 'Courier New', Courier, monospace; //this is open standart for screenplay text

@mixin font-primary-heading {
    font-family: $primary-font;
    font-style: normal;
    font-size: 1.375rem; // 22px
}

@mixin font-primary-info {
    font-family: $primary-font;
    font-style: normal;
    font-size: .875rem; // 14px
}

@mixin font-secondary-info {
    font-family: $secondary-font;
    font-style: normal;
    font-size: .875rem; // 14px
}


