@import "colors.scss";
@import "fonts-mixins.scss";

@mixin nna-input-base() {
    .nna-input {
        @keyframes inputIn {
            from { background-size: 0% 1px; }
            to   { background-size: 100% 1px }
        }

        @keyframes inputOut {
            from { background-size: 100% 1px; }
            to   { background-size: 0% 1px }
        }

        background-color: transparent !important;
        border: none;
        outline: none;
        padding: 0;
        margin: 0;
        height: 18px;
        width: 100%;
        max-width: 100%;
        vertical-align: bottom;
        box-sizing: content-box;
        background: $input-underline-gradient;
        background-repeat: no-repeat;
        background-size: 0% 1px;
        background-position: bottom -1px left 0px;

        animation-direction: normal;
        animation-duration: 150ms;
        animation-fill-mode: forwards;
        animation-timing-function: linear;

        transition: background-position 1ms 150ms !important;
        animation-name: inputOut;

        @include font-secondary-info();

        &:focus {
            background-position: bottom 0px left 0px;
            animation-delay: 150ms;
            animation-name: inputIn;
            outline: none;
            box-shadow: none;
            border-radius: 0;
            border-bottom: none !important;
        }
    }
}

@include nna-input-base();

.nna-input {
    padding: 0;
}

.nna-color-input {
    background-color: transparent !important;
    border: none !important;
    outline: none !important;
    padding: 0 !important;
    margin: 0 !important;
    width: 100px !important;
    vertical-align: bottom;
    box-sizing: content-box;
    box-shadow: none !important;
    cursor: pointer;
    margin-left: -2px !important;

    @include font-secondary-info();
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
  box-shadow: 0 0 0px 1000px #ffffff inset !important;
}

.nna-input-group {
    position: relative;
    padding: 15px 0 0;
    width: 100%;

    textarea {
        height: fit-content !important;
        resize: none;
    }

    .textarea-without-label {
        margin-top: -24px !important;
    }

    select {
        -webkit-appearance: none;
        appearance: none;

        &:hover {
            cursor: pointer;
        }
    }

    @include nna-input-base();

    .nna-input {
        &::placeholder {
          color: transparent;
        }
      
        &:placeholder-shown ~ .nna-input-label {
            @include font-primary-info();
            cursor: text;
            top: 10px;
        }
    }

    .nna-select {
        margin-bottom: -6px;
        padding-bottom: 6px;
    }
      
    .nna-input-label {
        position: absolute;
        top: -5px;
        display: block;
        transition: 0.2s;
        @include font-primary-info();
        font-size: 10px !important;
        color: gray;
        user-select: none; 
    }

    .nna-input:focus {
        ~ .nna-input-label {  
            position: absolute;
            top: -5px;
            display: block;
            transition: 0.2s;
            font-size: 10px; //focus not empty
            color: black;
            user-select: none;
        }
    }

    .nna-color-input-label {
        position: absolute;
        top: -5px;
        display: block; 
        @include font-primary-info();
        user-select: none; 
        color: gray;
    }
}