@import "src/styles/colors.scss";

.nna-table {
	width: 100%;
	background: white;

	.mat-header-row {
		@include font-primary-info();
		div button:focus {
			outline: none;
		}
	}
  
	.hoverable-element, tr {
		padding: 11px;
		cursor: pointer;
		padding-left: 24px;
		td {
			border: none;
		}
	}

	.non-selected-table-cell {
		cursor: default !important;
	}
  
	::ng-deep .mat-sort-header-container {
		button {
			outline: none;
		}
	}
  
	.table-cell {
		padding-left: 24px;
	}

	.mat-row {
		@include font-secondary-info();
	}
  
  	.clicked-row {
		background: $input-underline-gradient, $input-underline-gradient;
		background-repeat: no-repeat;
		background-size: 100% 1px;
		background-position: bottom, top;

		td {
			border: none;
		}
  	}

	.expand-row {
		height: 120px;

		background: $input-underline-gradient, $input-underline-gradient;
		background-repeat: no-repeat;
		background-size: 100% 1px;
		background-position: bottom, top;
		
		.table-cell {
			vertical-align: top;
			padding-top: 14px;
			border-right-color: transparent !important;
		}
	}

	.expand-row-header, .expand-row-body, .expand-row-footer {
		display: flex;
	}

	.expand-row-footer {
		margin-top: 8px;
	}

	tr {
		.dmo-cell {
			max-width: 200px;
			overflow-x: hidden;
			text-overflow: ellipsis;
			padding-left: 14px;
			cursor: pointer;
		}
	}

	thead {
		.dmo-cell-header {
			padding-left: 1rem !important;
		}
	}
}

.nna-table-for-popoup {
  	background: none !important;

	tr {
		cursor: default !important;
		td {
			border: none;
			max-width: 130px !important;
			overflow-x: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
}
  
.mat-paginator {
  	@include font-primary-info();
}

[mat-sort-header].cdk-keyboard-focused .mat-sort-header-container,
[mat-sort-header].cdk-program-focused .mat-sort-header-container {
  	border-bottom: none !important;
}

.mat-paginator .mat-paginator-outer-container .mat-paginator-container .mat-paginator-range-actions button {
	@include nna-button();
	width: 26px !important;
	height: 26px !important;
	display: flex;
	justify-content: center;
	margin-left: 8px;
	min-width: 26px !important;
	
	svg {
		width: 20px;
	}

	&:focus {
		outline: none;
	}
}