
@import "src/styles/colors.scss";
@import "src/styles/fonts-mixins.scss";

.nna-tooltip {
    // padding: 10px 15px;
    position: relative;
    display: inline-block;
    // margin: 15px;
    // text-align: center;
}
  
.nna-tooltip::after {
    background-color: transparent;
    color: $validation-color;
    visibility: hidden;
    // padding: 10px 15px;
    // position: absolute;
    text-align: center;
    z-index: 999;
}
  
// .nna-tooltip::before {
//     background-color: transparent;
//     content: ' ';
//     display: none;
//     position: absolute;
//     width: 15px;
//     height: 15px;
//     z-index: 999;
// }
  
.nna-tooltip:hover::after {
    visibility: visible;
}
  
// .nna-tooltip:hover::before {
//     display: block;
// }
  
  .nna-tooltip.nna-tooltip-top::after {
    content: 'top';
    top: 0;
    left: 50%;
    transform: translate(-50%, calc(-100% - 10px));
    @include font-secondary-info();
  }
  
  .nna-tooltip.nna-tooltip-top::before {
    top: 0;
    left: 50%;
    transform: translate(-50%, calc(-100% - 5px)) rotate(45deg);
  }
  
  .nna-tooltip.nna-tooltip-bottom::after {
    content: 'bottom';
    bottom: 0;
    left: 50%;
    transform: translate(-50%, calc(100% + 10px));
    @include font-secondary-info();
  }
  
  .nna-tooltip.nna-tooltip-bottom::before {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, calc(100% + 5px)) rotate(45deg);
  }
  
  .nna-tooltip.nna-tooltip-right::after {
    content: 'right';
    top: 0;
    right: 0;
    transform: translateX(calc(100% + 10px));
    @include font-secondary-info();
  }
  
  .nna-tooltip.nna-tooltip-right::before {
    top: 50%;
    right: 0;
    transform: translate(calc(100% + 5px), -50%) rotate(45deg);
  }
  
  .nna-tooltip.nna-tooltip-left::after {
    content: 'left';
    top: 0;
    left: 0;
    transform: translateX(calc(-100% - 10px));
    @include font-secondary-info();
  }
  
  .nna-tooltip.nna-tooltip-left::before {
    top: 50%;
    left: 0;
    transform: translate(calc(-100% - 5px), -50%) rotate(45deg);
  }
  