@import "src/styles/colors.scss";

.nna-tooltip-base {
    position: absolute;
    z-index: 250;
    top: 0;
    left: 0;
    display: none;
    background: white;
    border: solid;
    border-width: 1px;
    border-image: $button-border-gradient;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .2);

    .nna-tooltip-animatad-overflow-for-top {
        position: absolute;
        z-index: 400;
        bottom: -6px;
        left: -4px;
        background-color: white;
        width: 104%;
        height: 110%;
        animation: tooltip-overflow-shrink-h 100ms linear 0s 1 normal forwards;
    }

    .nna-tooltip-animatad-overflow-for-left {
        position: absolute;
        z-index: 400;
        bottom: -4px;
        right: -6px;
        background-color: white;
        width: 110%;
        height: 104%;
        animation: tooltip-overflow-shrink-v 100ms linear 0s 1 normal forwards;
    }



    .tooltip-header {
        text-align: center;
    }


}

.nna-tooltip-arrow-base {
    position: absolute;
    background: white;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
}

.nna-tooltip-arrow-to-top {
    border-left: solid;
    border-left-width: 1px;
    border-top: solid;
    border-top-width: 1px;
    border-image: $button-border-gradient;
}


.nna-tooltip-arrow-to-left {
    border-left: solid;
    border-left-width: 1px;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-image: $button-border-gradient;
}


@keyframes tooltip-overflow-shrink-h {
    from { height: 110%; }
    to { height: 0% }
}

@keyframes tooltip-overflow-shrink-v {
    from { width: 110%; }
    to { width: 0% }
}


