.base-modal {
  .dmos-table-wrapper {
    .dmos-table-container {


      .search-container {
        flex: 0 1 100%;
        display: flex;
        margin-left: auto;
        align-self: flex-end;
        i {
          position: absolute;
        }
  
        .search-input {
          padding-left: 1.5rem;
          &:focus {
            background-color: unset;
          }
        }
      }

      .nna-table {
        .mat-header-row {
          .hoverable-element {
            padding: 0 !important;
          }
        } 
      }
    }
  }
}
