<div class="base-modal">
    <div class="base-modal-header">
        <h2 class="modal-title">Decomposistion details</h2>

        <button *ngIf="!helpWindow && currentTabIndex !== 0" type="button" class="nna-button nna-icon-button" (click)="toggleHelp(true)">
            <i class="fa fa-info" aria-hidden="true"></i>
        </button>
        <button *ngIf="helpWindow && currentTabIndex !== 0" type="button" class="nna-button nna-icon-button" (click)="toggleHelp(false)">
            <i class="fa fa-times" aria-hidden="true"></i>
        </button>
    </div>
    <div class="base-modal-body">
        <mat-tab-group *ngIf="dmoIsLoaded" class="decomposition-details-container" [dynamicHeight]="true" (selectedIndexChange)="swipeTab($event)">
            
            <mat-tab class="nna-tab info-tab" label="Info">         
                <form role="form" [formGroup]="dmoDetailsForm" class="nna-form info-form">
                    
                    <div class="nna-input-group">
                        <input autocomplete="off" id="movieTitleInput" type="text" name="movieTitleInput" formControlName="movieTitleInput" 
                            class="form-control nna-input" placeholder="Movie title*" />
                        <label for="movieTitleInput" class="nna-input-label">Movie title*</label>
                    </div>

                    <div class="nna-input-group">
                        <input autocomplete="off"  id="dmoNameInput" type="text" name="dmoNameInput" formControlName="dmoNameInput" 
                            class="form-control nna-input" placeholder="DMO name" />
                        <label for="dmoNameInput" class="nna-input-label">DMO name</label>
                    </div>

                    <mat-form-field appearance="none" class="nna-input-group">
                        <label for="dmoStatusInput" class="nna-input-label">Status</label>
                        <mat-select autocomplete="off" id="dmoStatusInput" name="dmoStatusInput" formControlName="dmoStatusInput" class="form-control nna-input nna-select" panelClass="nna-select-option">
                            <mat-option [value]="0">In progress</mat-option>
                            <mat-option [value]="2">Not finished</mat-option>
                            <mat-option [value]="1">Completed</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <div class="nna-input-group">
                        <textarea autocomplete="off" id="shortCommentInput" name="shortCommentInput" formControlName="shortCommentInput" 
                            class="form-control nna-input" rows="3" placeholder="Short comment"></textarea>
                        <label for="shortCommentInput" class="nna-input-label">Short comment</label>
                    </div>
                    <div class="validation-container" *ngIf="dmoDetailsValidations?.length > 0">
                        <p class="validation-text" *ngFor="let dmoDetailsValidation of dmoDetailsValidations">{{dmoDetailsValidation}}</p>
                    </div>

                </form> 

            </mat-tab>
            <mat-tab class="nna-tab plot-tab" label="Plot"> 
                <form *ngIf="!helpWindow" role="form" [formGroup]="dmoPlotDetailsForm" class="nna-form plot-form">

                    <div class="nna-input-group">
                        <input autocomplete="off" id="premiseInput" type="text" name="premiseInput" formControlName="premiseInput" 
                            class="form-control nna-input premise-input" placeholder="Premise" (focus)="showPremiseQuestionMark = !showPremiseQuestionMark" (blur)="showPremiseQuestionMark = !showPremiseQuestionMark" />
                            <span *ngIf="showPremiseQuestionMark || premise.value" class="premise-question-mark">?</span>
                        <label for="premiseInput" class="nna-input-label">Premise</label>
                        <p [ngClass]="{'hidden-field-description': premise.value}" class="field-description"> What would happen if... </p>
                    </div>

                    <div class="nna-input-group">
                        <input autocomplete="off" id="controllingIdeaInput" type="text" name="controllingIdeaInput" formControlName="controllingIdeaInput" 
                            class="form-control nna-input" placeholder="Controlling idea" (blur)="setControllingIdeaType()"/>
                        <label for="controllingIdeaInput" class="nna-input-label">Controlling idea</label>
                        <p [ngClass]="{'hidden-field-description': controllingIdea.value}" class="field-description"> What this movie about? </p>
                    </div>

                    <mat-radio-group [hidden]="!controllingIdea.value" id="controllingIdeaTypeRadio" name="controllingIdeaTypeRadio" formControlName="controllingIdeaTypeRadio" class="controlling-idea-type-options">
                        <mat-radio-button class="controlling-idea-type-option" [value]="1">Idealistic</mat-radio-button>
                        <mat-radio-button class="controlling-idea-type-option" [value]="2">Pessimistic</mat-radio-button>
                        <mat-radio-button class="controlling-idea-type-option" [value]="3">Ironic</mat-radio-button>
                    </mat-radio-group>

                    <mat-checkbox (change)="setDidacticismDescription()" id="didacticismCheckbox" name="didacticismCheckbox" formControlName="didacticismCheckbox" class="didacticism-checkbox">
                        Moralizing? Didacticism? Propaganda?
                    </mat-checkbox>

                    <div class="nna-input-group" *ngIf="didacticism.value">
                        <input autocomplete="off" id="didacticismInput" type="text" name="didacticismInput" formControlName="didacticismInput" 
                            class="form-control nna-input" placeholder="Didacticism description">
                        <label for="didacticismInput" class="nna-input-label">Didacticism description</label>
                    </div>

                    <div class="validation-container" *ngIf="dmoPlotDetailsValidations?.length > 0">
                        <p class="validation-text" *ngFor="let dmoPlotDetailsValidation of dmoPlotDetailsValidations">{{dmoPlotDetailsValidation}}</p>
                    </div>

                </form>

                <div *ngIf="helpWindow && currentTabIndex === 1" class="help-window">
                    <p><strong>Premise</strong> (also known as “<em>Magical if</em>”). If you were a screnwriter there would be single open question which you must ask yourself to describe the idea of the whole movie. </p>
                    <p>For example: “What if one crazy scientist go back in time and change the past so bad that it would break future of his friends? “<em>Back to the future</em>”.</p>
                    
                    
                    <p>
                        <strong>Controlling idea</strong> is one coherrent sentence that describes the movie’s ultimate meaning. What authors were trying to say? Controlling idea answers exactly that question. Do not hesitate to be philosophical here.
                        Controlling idea is built out of two components: <strong>value</strong> and <strong>reason</strong>. Value is the primary value that comes into the world or life of main character as a result of the final action of the movie. Reason refers 
                        to the primary cause that the life or world of the main character has turned to it’s value. <strong>Value + Reason = Controlling idea</strong>.
                    </p>
                    <p>For example: Happiness fills our lives (value) + when we learn to love unconditionally (reason).“<em>Groundhog day</em>”.</p>

                    <p>
                        <strong>Idealistic</strong> or <strong>pessimistic</strong> controlling idea describes whether main character achieved his goals. <strong>Positive</strong> values express optimism, hopes and dreams of mankind and life as we wish it to be. 
                        In contrast <strong>negative</strong> values express our cynicism, our sens of loss and misfortune, hymanity’s dark dimensions and life as we dread it to be but know it so often is. Such controlling ideas are basically whether movie has a happy end or not. 
                    </p>
                    <p>Pessimistic: “<em>Don’t look up</em>”, “<em>American beaty</em>”, “<em>Dead Poets Society</em>”.</p>
                    <p>Idealistic: “<em>Die Hard</em>”, “<em>The Shawshank Redemption</em>”, “<em>Forrest Gump</em>”.</p>
                    
                    
                    <p>
                        <strong>Ironic</strong> controlling idea combines both idealistic and pessimistic ideas. It expresses our sense of the complex, dual nature of existence, a simultaneously positive and negative vision. 
                        A life at its most complete and realistic view.
                    </p>
                    <p>Ironic: “<em>Schindler's List</em>”, “<em>The Godfather</em>”, “<em>Parasite</em>”.</p>

                    <p>
                        Controlling idea should never be expressed directly in the movie. Otherwise the movie might seem <strong>moralizing</strong>. Sometimes movies are used to “<em>teach</em>”, “<em>instruct</em>” or “<em>advise</em>” how to leave and what to beliave. 
                        Sometimes poor screnwriting directly say what is good and what is bad. These are examples of <strong>didacticism</strong> and should be taken into account during decomposition. 
                    </p>
                </div>
                
            </mat-tab>
            <mat-tab *ngIf="dmoDetails.charactersForConflict.length > 0" label="Conflict" class="nna-tab"> 
                <div *ngIf="conflictPairs?.length && !helpWindow" class="conflict-headers">
                    <h4>Protagonist</h4>
                    <h4 class="right-header">Antagonist</h4>
                    <div class="conflict-versus">VS</div>
                </div>

                <form *ngIf="!helpWindow" role="form" [formGroup]="dmoConflictForm" class="nna-form conflict-form">
                    <div class="conflict-sides-container" [ngClass]="{'primary-conflict': i === 0}" *ngFor="let loadedPair of conflictPairs; let i = index">
                        <div class="conflict-side">
                            <mat-form-field appearance="none" class="nna-input-group group-without-margin">
                                <mat-label *ngIf="i === 0">Main hero</mat-label>
                                <mat-label *ngIf="i !== 0">Secondary character</mat-label>
                                <mat-select
                                    autocomplete="off" 
                                    id="{{getUniqueControlIdForConflictForm(i, 1, loadedPair.protagonist) + '-select'}}" 
                                    (selectionChange)="selectCharacter($event, getUniqueControlIdForConflictForm(i, 1, loadedPair.protagonist))"
                                    attr.formControlName="{{getUniqueControlIdForConflictForm(i, 1, loadedPair.protagonist) + '-select'}}"
                                    value="{{ loadedPair.protagonist ? loadedPair.protagonist.characterId : ''  }}"
                                    class="form-control nna-input nna-select" 
                                    panelClass="nna-select-option"
                                    style="text-transform: capitalize">
                                    <mat-option>Not selected</mat-option>
                                    <mat-option 
                                        *ngFor="let dmoCharacter of dmoDetails.charactersForConflict" 
                                        attr.style="color: {{dmoCharacter.color}}" 
                                        [value]="dmoCharacter.characterId">
                                            <span style="text-transform: capitalize;">{{dmoCharacter.name}}</span> <span *ngIf="dmoCharacter.aliases">[</span> {{dmoCharacter.aliases}} <span *ngIf="dmoCharacter.aliases">]</span> 
                                    </mat-option>
                                </mat-select>
                                <p #conflictDescription attr.id="{{getUniqueControlIdForConflictForm(i, 1, loadedPair.protagonist) + '-description'}}" class="conflict-description"></p>
                            </mat-form-field>

                            <div #conflictCheckboxContainer attr.id="{{getUniqueControlIdForConflictForm(i, 1, loadedPair.protagonist) + '-checkbox-container'}}" attr.class="{{'checkbox-container' + ' ' +  getUniqueControlIdForConflictForm(i, 1, loadedPair.protagonist) + '-checkbox-container' }}">
                                <mat-checkbox
                                    #conflictCheckbox
                                    id="{{getUniqueControlIdForConflictForm(i, 1, loadedPair.protagonist) + '-checkbox'}}" 
                                    name="{{getUniqueControlIdForConflictForm(i, 1, loadedPair.protagonist) + '-checkbox'}}" 
                                    attr.formControlName="{{getUniqueControlIdForConflictForm(i, 1, loadedPair.protagonist) + '-checkbox'}}"
                                    (change)="changeGoalAchieved($event, getUniqueControlIdForConflictForm(i, 1, loadedPair.protagonist))"
                                    class="goal-achieved-checkbox">
                                    Goal achieved?
                                </mat-checkbox>
                            </div>
                        </div>

                        <div class="conflict-side conflict-side-right">
                            <mat-form-field appearance="none" class="nna-input-group group-without-margin">
                                <mat-label *ngIf="i === 0">Main anti-hero</mat-label>
                                <mat-label *ngIf="i !== 0">Secondary character</mat-label>
                                <mat-select 
                                    autocomplete="off" 
                                    id="{{getUniqueControlIdForConflictForm(i, 2, loadedPair.antagonist) + '-select'}}" 
                                    (selectionChange)="selectCharacter($event, getUniqueControlIdForConflictForm(i, 2, loadedPair.antagonist))"
                                    attr.formControlName="{{getUniqueControlIdForConflictForm(i, 2, loadedPair.antagonist) + '-select'}}"
                                    value="{{ loadedPair.antagonist ? loadedPair.antagonist.characterId : ''  }}"
                                    class="form-control nna-input nna-select" 
                                    panelClass="nna-select-option"
                                    style="text-transform: capitalize">
                                    <mat-option>Not selected</mat-option>
                                    <mat-option 
                                        *ngFor="let dmoCharacter of dmoDetails.charactersForConflict" 
                                        attr.style="color: {{dmoCharacter.color}};" 
                                        [value]="dmoCharacter.characterId">
                                            <span style="text-transform: capitalize;">{{dmoCharacter.name}} </span>   <span *ngIf="dmoCharacter.aliases">[</span> {{dmoCharacter.aliases}} <span *ngIf="dmoCharacter.aliases">]</span> 
                                    </mat-option>
                                </mat-select>
                                <p #conflictDescription attr.id="{{getUniqueControlIdForConflictForm(i, 2, loadedPair.antagonist) + '-description'}}" class="conflict-description"></p>
                            </mat-form-field>

                            <div #conflictCheckboxContainer attr.id="{{getUniqueControlIdForConflictForm(i, 2, loadedPair.antagonist) + '-checkbox-container'}}" attr.class="{{'checkbox-container' + ' ' +  getUniqueControlIdForConflictForm(i, 2, loadedPair.antagonist) + '-checkbox-container' }}">
                                <mat-checkbox
                                    #conflictCheckbox
                                    id="{{getUniqueControlIdForConflictForm(i, 2, loadedPair.antagonist) + '-checkbox'}}" 
                                    name="{{getUniqueControlIdForConflictForm(i, 2, loadedPair.antagonist) + '-checkbox'}}"
                                    attr.formControlName="{{getUniqueControlIdForConflictForm(i, 2, loadedPair.antagonist) + '-checkbox'}}" 
                                    (change)="changeGoalAchieved($event, getUniqueControlIdForConflictForm(i, 2, loadedPair.antagonist))"
                                    class="goal-achieved-checkbox">
                                    Goal achieved?
                                </mat-checkbox>
                            </div>                            
                        </div>

                        <div class="delete-conflict-button-container">
                            <button type="button" class="nna-icon-button" (click)="deleteConflict(loadedPair.pairId, i)">
                                <i class="fas fa-trash" aria-hidden="true"></i>
                            </button>
                        </div>

                    </div>

                    <div *ngIf="!conflictPairs?.length" class="empty-conflict-placeholder">
                        Conflicts are not specified
                    </div>

                </form>

                <div *ngIf="helpWindow && currentTabIndex === 2" class="help-window conflict-help-window">
                    <p>
                        The <strong>protagonist</strong> might be a single human, a group of characters, an animal or even Mother nature. Same for <strong>antagonist</strong>. 
                        There might be as many conflicts as single movie can handle. But there only one <strong>main character</strong> and one <strong>anti-character</strong> appropriately. 
                        Their conflict defines movie conflict. Usually theirs desires and goals are mutually exclusive.
                    </p>

                    <p>
                        Everething in the movie flows through conflict. Every protagonist has the ultimate goal just like every antagonist want’s protagonist to fail. 
                        Conflict is the global reason of protagonist existence. Every beat must be targeted to resolve the conflict in positive or negative way. 
                        Otherwise it is not a beat in the first place.
                    </p>
                </div>

            </mat-tab>
        </mat-tab-group>
    </div>
    <div *ngIf="dmoIsLoaded && !helpWindow" class="base-modal-footer">
            <button *ngIf="currentTabIndex === 0 && !dmoDetailsForm.dirty" type="button" class="nna-button-secondary" (click)="onClose()">Close</button>
            <button *ngIf="currentTabIndex === 0 && dmoDetailsForm.dirty" type="button" class="nna-button-secondary" (click)="saveDmoDetails(false)">Cancel</button>
            <button *ngIf="currentTabIndex === 0 && dmoDetailsForm.dirty" type="button" class="nna-button-primary" (click)="saveDmoDetails(true)">Save</button>


            <button *ngIf="currentTabIndex === 1 && !dmoPlotDetailsForm.dirty" type="button" class="nna-button-secondary" (click)="onClose()">Close</button>
            <button *ngIf="currentTabIndex === 1 && dmoPlotDetailsForm.dirty" type="button" class="nna-button-secondary" (click)="savePlotChanges(false)">Cancel</button>
            <button *ngIf="currentTabIndex === 1 && dmoPlotDetailsForm.dirty" type="button" class="nna-button-primary" (click)="savePlotChanges(true)">Save</button>


            <button *ngIf="currentTabIndex === 2" type="button" class="nna-button-primary" (click)="addConflict()"> 
                <span *ngIf="!conflictPairs?.length">Add main conflict</span> 
                <span *ngIf="conflictPairs?.length">Add sub conflict</span> 
            </button>
            <button *ngIf="currentTabIndex === 2" type="button" class="nna-button-secondary" (click)="onClose()">Close</button>
    </div>
</div>