
@import "src/styles/fonts-mixins.scss";

.sso-container {
    display: flex;
    width: 350px;
    background-color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
    padding: 20px;
    margin-top: 20px;
    align-items: center;
    align-content: center;

    .sso-description-container {
        margin: auto 0;
        margin-right: 4px;

        .sso-description {
            vertical-align: sub;
            @include font-primary-info();
        }
    }
}
