@import "src/styles/colors.scss";

.beatTypeTooltipContainer {
    display: none;
    background: white;
    z-index: 200;
    width: 150px;
    height: fit-content;
    border: solid;
    border-width: 1px;
    border-image: $button-border-gradient;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .2);

    .beat-type-options {
        .beat-type-option {
            padding-left: .5rem;
            &:first-child {
                margin-top: .5rem;
            }
        }
    }

    .tooltipArrow {
        position: absolute;
        background: white;
        width: 8px;
        height: 8px;
        transform: rotate(45deg);

        border-left: solid;
        border-left-width: 1px;
        border-bottom: solid;
        border-bottom-width: 1px;
        border-image: $button-border-gradient;
    }
}

.plot-points-graph-container {
    height: 100%;
    width: 34px;
    position: relative;
    top:0;
    bottom: 0;
    display: flex;
    justify-content: center;

    .plot-points {
        position: absolute;
        margin-top: 32px;
        z-index: 10;
        flex: 0 0 30px;
        flex-direction: column;

        .plot-point-container {
            z-index: 100;
            border-top: 1px transparent solid;
            border-bottom: 1px transparent solid;
            cursor: grab;
            .plot-point  {
                circle {
                    outline: none !important;
                    cursor: pointer;
                }
            }

            .ignore-events {
                pointer-events: none;
            }
        }

        .droppable {
            background-color: rgba(155, 0, 209, .1);
            border-top: 1px $secondary-color dashed !important;
            border-bottom: 1px $secondary-color dashed !important;
        }

        .dragabble {
            border-top: 1px $primary-color dashed !important;
            border-bottom: 1px $primary-color dashed !important;
            background-color: rgba(248, 195, 60, .2);
        }
    }

    .plot-points-graph {
        position: absolute;
        height: 100%;

        .start-end-coord {
            fill: none;
            stroke:black;
            stroke-width: 4;
        }

        .graph-coord {
            fill: none;
            stroke:black;
            stroke-width: 2;
        }
    }
}

.dragging {
    border-left-color: $secondary-color;
    border-left-width: 1px;
    border-left-style: dashed;

    border-right-color: $secondary-color;
    border-right-width: 1px;
    border-right-style: dashed;
}