@import "src/styles/colors.scss";

.plot-points-graph-container {
    height: 100%;
    width: 34px;
    position: relative;
    top:0;
    bottom: 0;
    display: flex;
    justify-content: center;

    .plot-points {
        position:absolute;
        margin-top: 32px;
        z-index: 10;
        flex: 0 0 2rem;
        flex-direction: column;

        .plot-point-container {
            z-index: 100;
            .plot-point  {
                circle {
                    cursor: grab;
                }
            }

            .ignore-events {
                pointer-events: none;
            }
        }

        .droppable {
            background-color: lightgray;
        }
    }

    .plot-points-graph {
        position:absolute;
        height: 100%;

        .start-end-coord {
            fill: none;
            stroke:black;
            stroke-width: 4;
        }

        .graph-coord {
            fill: none;
            stroke:black;
            stroke-width: 2;
        }
    }
}

.dragging {
    border-left-color: $secondary-color;
    border-left-width: 1px;
    border-left-style: dashed;

    border-right-color: $secondary-color;
    border-right-width: 1px;
    border-right-style: dashed;
}