.base-modal {
    z-index: 500;
    min-height: 300px;
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    .base-modal-body {
        form {
            .nna-input-group, .nna-input-group-validation {
                margin-top: 1rem;
            }

            .character-color-input-group {
                display: flex;
                align-items: center;
                .nna-icon-button {
                    margin-left: 8px;
                }
            }

            .validation-wrapper {
                .validation-container {
                    margin-top: 5px;
                }
            }
        }
    }

    .base-modal-footer {
        margin-top: auto;
    }
}
