.base-modal {
    z-index: 500;
    min-height: 300px;
    max-height: 700px;
    
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;

    .base-modal-body {
        // max-height: 600px;
        // overflow-y: auto;

        .character-form {
            height: 500px;
            max-height: 600px;
            padding-right: 14px;
            overflow-y: auto;

            .nna-input-group, .nna-input-group-validation {
                margin-top: 14px;
            }

            .character-color-input-group {
                display: flex;
                align-items: center;
                .nna-icon-button {
                    margin-left: 8px;
                }
            }
        }

        .character-validations {
            height: unset !important;
        }
    }

    .base-modal-footer {
        margin-top: auto;
    }
}
