<div class="base-modal">
    <div class="base-modal-header">
        <h2 *ngIf="deleteAction == false && addOrEditAction == false" class="modal-title no-select">Characters</h2>
        <h2 *ngIf="deleteAction == true && addOrEditAction == false" class="modal-title no-select">Delete character</h2>
        <h2 *ngIf="deleteAction == false && addOrEditAction == true && selectedCharacter == null" class="modal-title no-select">Create character</h2>
        <h2 *ngIf="deleteAction == false && addOrEditAction == true && selectedCharacter != null" class="modal-title no-select">Edit character</h2>
        <button *ngIf="!helpWindow && addOrEditAction == true" type="button" class="nna-button nna-icon-button" (click)="toggleHelp(true)">
            <i class="fa fa-info" aria-hidden="true"></i>
        </button>
        <button *ngIf="helpWindow && addOrEditAction == true" type="button" class="nna-button nna-icon-button" (click)="toggleHelp(false)">
            <i class="fa fa-times" aria-hidden="true"></i>
        </button>
    </div>
    <div [hidden]="!charactersTable || charactersCount == 0" class="base-modal-body">
        <table mat-table class="nna-table nna-table-for-popoup" [dataSource]="charactersTable" matSort>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="name" class="hoverable-element no-select" (click)="resetSelected()"> Name </th>
                <td mat-cell class="dmo-cell" *matCellDef="let row" attr.style="color: {{row.color}}"> {{row.name}} </td>
            </ng-container>

            <ng-container matColumnDef="aliases">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="aliases" class="hoverable-element no-select" (click)="resetSelected()"> Aliases </th>
                <td mat-cell class="dmo-cell" *matCellDef="let row" attr.style="color: {{row.color}}"> {{row.aliases}} </td>
            </ng-container>

            
            <ng-container matColumnDef="count">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="count" class="hoverable-element no-select" title="How many times used" (click)="resetSelected()"> # </th>
                <td mat-cell class="dmo-cell" *matCellDef="let row" attr.style="color: {{row.color}}"> {{row.count == 0 ? '' : row.count}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="charactersTableColumn"></tr>
            <tr mat-row *matRowDef="let row; columns: charactersTableColumn;" [class.clicked-row]="selectedCharacter == row" (click)="onRowSelect(row)"> </tr>

        </table>
        <mat-paginator [hidden]="charactersCount < 6" #charactersPaginator [length]="charactersCount" [pageSize]="5" [hidePageSize]="true" (page)="onPaginateChange()"></mat-paginator>
    </div>

    <div *ngIf="deleteAction == false && addOrEditAction == false && charactersCount == 0" class="base-modal-body">
        <p>This Dmo has no characters.</p>
        <p>Try to add one.</p>
    </div>

    <div *ngIf="deleteAction == true && addOrEditAction == false && selectedCharacter" class="base-modal-body">
        <p>Are you sure you want to delete character '{{selectedCharacter.name}}'?</p>
    </div>

    <div *ngIf="deleteAction == false && addOrEditAction == true && helpWindow == false" class="base-modal-body">
        <form role="form" [formGroup]="charactersForm" class="character-form">
            <div class="nna-input-group">
                <input #characterNameInput autocomplete="off" type="text" name="characterNameInput" id="characterNameInput" formControlName="characterNameInput" 
                    class="form-control nna-input" placeholder="Name*" (focusout)="preventValidationToBlink()" />
                <label for="characterNameInput" class="nna-input-label">Name*</label>
            </div>

            <div class="nna-input-group">
                <input autocomplete="off" type="text" name="characterAliasesInput" id="characterAliasesInput" formControlName="characterAliasesInput" 
                    class="form-control nna-input" placeholder="Aliases [separated by ,]" />
                <label for="characterAliasesInput" class="nna-input-label">Aliases [separated by ,]</label>
            </div>

            <div class="nna-input-group character-color-input-group">
                <input autocomplete="off" type="color" name="colorInput" id="colorInput" formControlName="colorInput" 
                    class="form-control nna-color-input" placeholder="Color" (change)="setColorManually()" />
                <label for="colorInput" class="nna-color-input-label" style="font-size: 10px !important;">Color</label>

                <button type="button" class='nna-icon-button nna-button-primary' title="Select other predefined color" (click)='onSetNextRandomColor()'>
                    <i class="fa fa-random" aria-hidden="true"></i>
                </button>
            </div>

            <br />

            <div class="nna-input-group">
                <input autocomplete="off" type="text" name="goalInput" id="goalInput" formControlName="goalInput" 
                    class="form-control nna-input" placeholder="Goal/desire/need" />
                <label for="goalInput" class="nna-input-label">Goal/desire/need</label>
            </div>

            <div class="nna-input-group">
                <input autocomplete="off" type="text" name="unconsciousGoalInput" id="unconsciousGoalInput" formControlName="unconsciousGoalInput" 
                    class="form-control nna-input" placeholder="Unconscious desire" />
                <label for="unconsciousGoalInput" class="nna-input-label">Unconscious desire</label>
            </div>

            <br />

            <div *ngIf="selectedCharacter != null && addOrEditAction == true" class="nna-input-group">
                <label class="nna-input-label">True character</label>
                <ul *ngIf="character?.length > 0" class="true-character-list">
                    <li #beatsWithCurrentCharacter *ngFor="let characterDescription of character" [innerHTML]="domSanitizer.bypassSecurityTrustHtml(overrideCharacterCursorStyle(characterDescription))" class="true-character-option"></li>
                </ul>
                <p *ngIf="character?.length == 0" class="true-character-placeholder">Character beat is not detected</p>
            </div>

            <div class="nna-input-group">
                <textarea autocomplete="off" type="text" name="characterizationInput" id="characterizationInput" formControlName="characterizationInput" 
                    class="form-control nna-input" rows="2" placeholder="Characterization"></textarea>
                <label for="characterizationInput" class="nna-input-label">Characterization</label>
            </div>

            <mat-checkbox (change)="setCharacterContrCharacterization()" id="characterContrCharacterizationCheckbox" name="characterContrCharacterizationCheckbox" formControlName="characterContrCharacterizationCheckbox">
                Do character contradicts characterization?
            </mat-checkbox>

            <div class="nna-input-group" *ngIf="showCharacterContrCharacterizationDescriptionInput">
                <textarea autocomplete="off" type="text" name="characterContrCharacterizationDescriptionInput" id="characterContrCharacterizationDescriptionInput" formControlName="characterContrCharacterizationDescriptionInput" 
                    class="form-control nna-input" rows="2" placeholder="How character contradicts characterization?"></textarea>
                <label for="characterContrCharacterizationDescriptionInput" class="nna-input-label">How character contradicts characterization?</label>
            </div>

            <br />

            <mat-checkbox (change)="setCharacterEmpathy()" id="characterEmpathyCheckbox" name="characterEmpathyCheckbox" formControlName="characterEmpathyCheckbox">
                Is character empathetic?
            </mat-checkbox>

            <div class="nna-input-group" *ngIf="showCharacterEmpathyDescriptionInput">
                <textarea autocomplete="off" type="text" name="characterEmpathyDescriptionInput" id="characterEmpathyDescriptionInput" formControlName="characterEmpathyDescriptionInput" 
                    class="form-control nna-input" rows="2" placeholder="How character make you empathize?"></textarea>
                <label for="characterEmpathyDescriptionInput" class="nna-input-label">How character make you empathize?</label>
            </div>

            <br />

            <mat-checkbox (change)="setCharacterSympathy()" id="characterSympathyCheckbox" name="characterSympathyCheckbox" formControlName="characterSympathyCheckbox">
                Is character sympathetic?
            </mat-checkbox>

            <div class="nna-input-group" *ngIf="showCharacterSympathyDescriptionInput">
                <textarea autocomplete="off" type="text" name="characterSympathyDescriptionInput" id="characterSympathyDescriptionInput" formControlName="characterSympathyDescriptionInput" 
                    class="form-control nna-input" rows="2" placeholder="How character make you sympathize?"></textarea>
                <label for="characterSympathyDescriptionInput" class="nna-input-label">How character make you sympathize?</label>
            </div>
        </form>

        <div *ngIf="characterValidations?.length > 0" class="validation-wrapper validation-wrapper-popup nna-input-group-validation character-validations" >
            <p class="validation-text" *ngFor="let characterValidation of characterValidations">{{characterValidation}}</p>
        </div>
    </div>

    <div *ngIf="helpWindow" class="base-modal-body"> 
        <div class="help-window">
            <p>Characters usually have consious <strong>goal</strong> or <strong>desire</strong>. Character know what he wants, and for many characters a simple, clear, conscious desire is sufficient.</p>
            <p>
                The most memorable, fascinating characters tend to have not only a conscious but an <strong>unconscious desire</strong>. Usually complex characters are unaware of their subconscious need. 
                The conscious and unconscious desires of a multidimensional character contradict each other. What he believes he wants is the antithesis of what he actually but unwittingly wants.
            </p>
            <p>
                <strong>True character</strong> is revealed in the choices a human being makes. Beneath the surface of characterization, regardless of appearances, who is this character? Is he loving or cruel? 
                Generous or selfish? Strong or weak? Truthful or a liar? Courageous or cowardly? The only way to know the truth is to witness character make choices under pressure in the pursuit of his desire. 
            </p>
            <p>
                <strong>Characterization</strong> is the qualities of a human being, everything knowable through observation: sex, age, appearances, style of speech, education, personality, occupation. All these make each character unique and memorable.
            </p>
            <p>
                Characterization is how human looks like. Character is what human really is. The revelation of <strong>true character</strong> is fundamental to all fine storytelling.
            </p>
            <p>
                When <strong>character contradicts characterization</strong> it makes first more deep (or in some cases more silly).
            </p>
            <p>
                Character must be <strong>empathetic</strong>; he may or may not be <strong>sympathetic</strong>.
            </p>
            <p>
                Sympathetic means likable or the one with an inmate likability that evoke sympathy. Empathetic means "like me". If you identify character with yourself it means you empathize him. Empathy is absolute, sympathy is optional.
            </p>

        </div>
    </div>



    <div *ngIf="selectedCharacter != null && deleteAction == false && addOrEditAction == false && helpWindow == false"  class="base-modal-footer">
        <button type="button" class="nna-button-secondary" (click)="onCharacterToDelete()">Delete</button>
        <button type="button" class="nna-button-primary"(click)="onCharacterToEdit()">Edit</button>
    </div>

    <div *ngIf="selectedCharacter == null && deleteAction == false && addOrEditAction == false && helpWindow == false" class="base-modal-footer">
        <button type="button" class="nna-button-secondary" (click)="onClose(true)">Close</button>
        <button type="button" class="nna-button-primary"(click)="onCharacterToAdd()">Add character</button>
    </div>

    <div *ngIf="selectedCharacter && deleteAction == true && addOrEditAction == false && helpWindow == false" class="base-modal-footer">
        <button type="button" class="nna-button-secondary" (click)="onCharacterCancelDelete()">Cancel</button>
        <button type="button" class="nna-button-primary"(click)="onCharacterDelete()">Delete</button>
    </div>

    <div *ngIf="deleteAction == false && addOrEditAction == true && helpWindow == false" class="base-modal-footer">
        
        <button *ngIf="selectedCharacter != null" type="button" class="nna-button-secondary" (click)="onCharacterCancelEdit()">Cancel</button>
        <button *ngIf="selectedCharacter != null" type="button" class="nna-button-primary"(click)="onCharacterEdit()">Save</button>
        
        <button *ngIf="selectedCharacter == null" type="button" class="nna-button-secondary" (click)="onCharacterCancelAdd()">Cancel</button>
        <button *ngIf="selectedCharacter == null" type="button" class="nna-button-primary" (click)="onCharacterAdd()">Create character</button>
    
    </div>
</div>