.beats-container {
    min-height: 32px;
    border: none;
    display: flex;
    flex-flow: column nowrap;

    &:hover {
        cursor: text;
    }

    .beat {
        // background-color: bisque;
        min-height: 32px;
        width: 100%;
        border: none;

        display: flex;
        align-items: center;
        &:focus {
            outline: none;
        }

        span {
            border: none;
            white-space: pre-wrap;
            font: 14px 'Courier New', Courier, monospace; //this is open standart for screenplay text
            &:focus {
                outline: none;
            }
        }
    }

}