@import "src/styles/colors.scss";

* {
    -webkit-transition: margin-left 0.2s ease-in-out;
    -moz-transition: margin-left 0.2s ease-in-out;
    -ms-transition: margin-left 0.2s ease-in-out;
    -o-transition: margin-left 0.2s ease-in-out;
    transition: margin-left 0.2s ease-in-out;
}

.right-menu-wrapper {
    height: 100%;
}

.nna-main-container-wrapper {
    overflow-x: hidden;

    .main-container {
        margin-left: 234px;
        padding: 0 15px 15px 15px;
        margin-right: -1px;
        margin-top: -1px;
        // overflow-x: hidden; // uncomment if find bug with horizontal scoll again and pay attention to fixed position of header in editor
        // position: relative;
    }
    .collapsed {
        margin-left: 49px;
        margin-right: -1px;
        margin-top: -1px;
        margin-bottom: -1px;
    }
}
