<body>
	<mat-sidenav-container role="main" style="height: 100%" (backdropClick)="closeByBackdrop()" >
	<mat-sidenav #rightMenu position="end" [(opened)]="toggleRightMenu" role="directory"
	  [fixedInViewport]="true" [fixedTopGap]="0" [fixedBottomGap]="0"> 

	<div [ngSwitch]="currentMenuName">
		<!-- Values took from rigth-menus.ts -->
		<app-dmo-collections *ngSwitchCase="'dmoCollections'" [rightMenuIsClosing$]='rightMenuIsClosing$' [rightMenuIsOpening$]='rightMenuIsOpening$' (closeRightMenu)="closeRightMenu($event)" ></app-dmo-collections>  
		<app-test-right-menu *ngSwitchCase="'test'" [rightMenuIsClosing$]='rightMenuIsClosing$'  [rightMenuIsOpening$]='rightMenuIsOpening$' (closeRightMenu)="closeRightMenu($event)"></app-test-right-menu>
		<!-- ' -->
		<div *ngSwitchDefault>No selected menu</div>
	</div>

	</mat-sidenav>
		<mat-sidenav-content>
			<app-right-menu-grabber [menuName]="currentMenuName" [userFriendlyMenuName]="currentUserFriendlyMenuName" [shouldbeShown]="isGrabbershouldBeShown" (toggleMenu)="openRightMenuByGrabber($event)" ></app-right-menu-grabber>
			<!-- <app-nav-menu></app-nav-menu> -->

			<app-sidebar (toggleRightMenu$)="openRightMenu($event)"></app-sidebar>  
			<section class="main-container" [ngClass]="{collapsed: !sidebarManagerService.IsOpen}">
				<router-outlet></router-outlet>
			</section>
		</mat-sidenav-content>
	</mat-sidenav-container>
</body>