<div class="beats-wrapper">
    <div class="beats-inner-wrapper">
        <div *ngIf="isDataLoaded" class="beats-container">

            <div #charactersTooltip class="nna-tooltip-base nna-tooltip-to-top characters-tooltip">
                <div class="nna-tooltip-animatad-overflow-for-top"></div>
                <div class="character-tooltip-search-block" *ngIf="characters?.length > 0">
                    <input #characterFilterInput type="text" class="nna-input character-filtrer-input" placeholder="Character name or alias" (input)="filterCharacters($event.target.value)">
                    <ul>
                        <li #charactersOptions [attr.data-order]="i" class="character-option" *ngFor="let character of filtredCharacters; let i = index" attr.style="color: {{character.color}}"  (click)="pickCharacter(character)">
                            <span style="text-transform: capitalize;">{{character.name}}</span>  <span *ngIf="character.aliases">[</span> {{character.aliases}} <span *ngIf="character.aliases">]</span> 
                        </li>
                    </ul>

                    <div class="character-tooltip-empty-search-block no-select" *ngIf="!filtredCharacters?.length">
                        <p>No search result</p>
                        <button type="button" class="nna-button-primary"(click)="onOpenCharactersPopup('add_character')">Add character</button>
                    </div>
                </div>
                <div class="character-tooltip-info-block no-select" *ngIf="!characters?.length">
                    <p>This Dmo has no characters</p>
                    <button type="button" class="nna-button-primary"(click)="onOpenCharactersPopup('add_first_character')">Add character</button>
                </div>
                <div #charactersTooltipArrow class="nna-tooltip-arrow-base nna-tooltip-arrow-to-top"></div>
            </div>


            <div #tagsTooltip class="nna-tooltip-base nna-tooltip-to-top tags-tooltip">
                <div class="nna-tooltip-animatad-overflow-for-top"></div>
                <div class="tag-tooltip-search-block">
                    <input #tagFilterInput type="text" class="nna-input character-filtrer-input" placeholder="Seach tag by name" (input)="filterTags()">
                    <ul>
                        <li #tagsOptions [attr.data-order]="i" class="tag-option" *ngFor="let tag of filtredTags; let i = index"  (click)="pickTag(tag)">
                            <span>{{tag.name}}</span>
                        </li>
                    </ul>

                    <div class="tag-tooltip-empty-search-block no-select" *ngIf="!filtredTags?.length">
                        <p>No search result</p>
                    </div>
                </div>
                <div #tagTooltipArrow class="nna-tooltip-arrow-base nna-tooltip-arrow-to-top"></div>
            </div>

            <div class="beats-header no-select">
                Start
            </div>

            <div class="beat-container" *ngFor="let beat of beats; let i = index">
                
                <div class="time-picker-container" draggable="false" (dragover)="preventDrag($event)">
                    <input #timePickers class="time-picker" 
                        [id]="'time_picker_' + beat.beatId"
                        [attr.data-order]="i"
                        maxlength='7' type="text" draggable="false" autocomplete="off" spellcheck = false    
                        placeholder="h:mm:ss" 
                        (keydown)="setTimePickerKeyMetaData($event, i)"
                        (keyup)="setTimePickerValue($event, i)"
                        (focusin)="prepareTimePicker($event)"
                        (focusout)="finalizeTimePicker($event, i)"
                        (dragover)="preventDrag($event)" />
                </div>

                <div class="beat-data-holder-wrapper">
                    <div class="beat-data-holder-container" draggable="false" (dragover)="preventDrag($event)" (click)="beatContainerClick($event)">
                        <div #beatDataHolders class="beat-data-holder"
                            [id]="'beat_' + beat.beatId"
                            [attr.data-order]="i"
                            type="text" contenteditable="true" draggable="false"  placeholder="add description"
                            (keydown)="setBeatKeyMetaData($event, i)"
                            (keyup)="setBeatValue($event)"
                            (focusout)="finalizeBeat($event, i)"
                            (focusin)="prepareBeatDataHolder($event)"
                            (input)="onBeatChanged(i)"
                            (dragover)="preventDrag($event)">
                        </div>
                    </div>
                </div>

            </div>

            <div *ngIf="isDmoFinished" class="beats-footer no-select">
                End
            </div>

            <div class="editor-bottom-margin"></div>
        </div>
    </div>
</div>
