@import "src/styles/colors.scss";
@import "src/styles/fonts-mixins.scss";

.sidebar {
    @include font-primary-info();
    position: fixed;
    line-height: 1.5rem;
    z-index: 200;
    left: 235px;
    width: 235px;
    margin-left: -235px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    background-color: rgba($primary-color, 0.6);
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    white-space: nowrap;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color: black;


    .with-collapse-button {
        margin-bottom: 48px;
    } 

    .logo-container  {
        display: flex;
        justify-content: left;
        animation: logo-initial 2s forwards;

        background: $sidebar-border;
        background-repeat: no-repeat;
        background-size: 100% 1px;
        background-position: bottom;

        img {
            user-select: none;
            margin: 0.7rem 0;
            height: 1.7rem;
            transition: margin-left .4s;
            margin-left: 1rem;
        }

        .logo:hover {
            cursor: pointer;
        }

        .logo-mini {
            animation:  logo-mini-shift  .4s forwards;
        }

        .lodo-extend {
            animation:  logo-extend-shift  .4s forwards;
        }
    }

    .list-group {
        a.list-group-item {
            color: black;
            background-color: rgba($primary-color, 0.01);
            border: 0;
            border-radius: 0;
            user-select: none;

            text-decoration: none;
            .fa {
                margin-right: 10px;
            }
        }
        a {
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -ms-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
            position: fixed;
            width: 235px;
            background-color: rgba($primary-color, 0.01);

            &:hover {
                background:  $primary-color;
                cursor: pointer;
            }
        }
        @for $i from 1 through 5 {
            a:nth-child(#{$i}) {
                top: $i * 43px
            }
          }
        a.router-link-active {
            background: $primary-color;
            cursor: pointer;
        }
        .side-item-collapse {
            width: 50px;
            &:hover { 
                span {
                    display: inline !important;
                }
                width: 235px;
                background-color: $primary-color !important;
            }
        }
    }

    .bottom-group-item {
        top: unset !important;
        bottom: 45px;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &.side-item-collapse {
            overflow:unset;
            span {
                visibility: hidden;
            }

            &:hover {
                overflow: hidden;
                span {
                    visibility: visible;
                }
            }
        }
        
        &:focus {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    .sidebar-dropdown {
        *:focus {
            border-radius: none;
            border: none;
        }
        .panel-title {
            font-size: 1rem;
            height: 50px;
            margin-bottom: 0;
            a {
                text-decoration: none;
                font-weight: 400;
                background: rgba($primary-color, 0.6);
                span {
                    position: relative;
                    display: block;
                    padding: 0.75rem 1.5rem;
                    padding-top: 1rem;
                }
            }
            a:hover, a:focus {
                outline: none;
                outline-offset: -2px;
            }
        }
        .panel-title:hover {
            background: $primary-color;
        }
        .panel-collapse {
            border-radius: 0;
            border: none;
            .panel-body {
                .list-group-item {
                    border-radius: 0;
                    background-color: rgba($primary-color, 0.6);
                    border: 0 solid transparent;
                }
                .list-group-item:hover {
                    background: $primary-color;
                }
            }
        }
    }
}

.nested-menu {
    .list-group-item {
        cursor: pointer;
    }
    .nested {
        list-style-type: none;
    }
    ul.submenu {
        display: none;
        height: 0;
    }
    & .expand {
        ul.submenu {
            display: block;
            list-style-type: none;
            height: auto;
            li {
                a {
                    padding: 10px;
                    display: block;
                }
            }
        }
    }
}

.bottom-blocks {
    border: 0;
    display: flex;
    margin: auto;
    position: fixed;
    width: 235px;
    cursor: pointer;
    padding: 12px;
}

.top-auth-buttons {
    bottom: unset;
    top: 44px;
    padding: 0;
    margin: auto;
}


.auth-blocks {
    bottom: 45px;
    display: flex;
    justify-content: center;
    padding: 0;
    user-select: none;

    &:hover {
        width: 235px !important;
        display: flex !important;
        a span {
            display: inline;
        }
    }

    .auth-block {
        display: flex;
        height: 45px;
        flex: 1 1 50%;
        
        .nav-link {
            align-self: center;
            color: black;
            padding: .75rem 1.15rem;
            text-decoration: none;
        }
        &:hover {
            background: $primary-color;
        }
    }

    .main {
        flex: 1 1 100% !important;
        display: flex;
        justify-content: left !important;

        &:hover {
            width: 235px !important;
            display: flex !important;
            a span {
                display: inline;
            }
        }
    }

    .collapsed {
        width: 50px;
        display: flex;
        justify-content: left !important;
    }
}

.toggle-button {
    bottom: 0;
    user-select: none;

    .toggle-bottom-icon {
        align-self: center;
        margin-right: 18px;
    }

    background: $sidebar-border;
    background-repeat: no-repeat;
    background-size: 100% 1px;
    background-position: top;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.collapsed {
    width: 50px;
    justify-content: center;
    background-color: transparent;
    border-right: 1px solid rgba($primary-color, 0.6);

    .logo-container  {
        background: transparent;
    }
    background: transparent;

    span {
        display: none;

        &:focus {
            outline: none;
        }
    }

    
    @keyframes logo-initial {
        from { opacity: 0; }
        to { opacity: 1; }
    }

    @keyframes logo-mini-shift {
        from { margin-left: 1rem; }
        to { margin-left: 0; }
    }

    @keyframes logo-extend-shift {
        from { margin-left: 0; }
        to { margin-left: 1rem; }
    }
}


