<nav class="sidebar" [ngClass]="{collapsed : !sidebarState}" [ngClass]="{'with-collapse-button' : isAuthorized}">
    <div [ngSwitch]="sidebarState" class="logo-container">
        <img src="/assets/logo-en.svg" alt="logo" class="logo mini" *ngSwitchCase="false">
        <img src="/assets/logo-en-extend.svg" alt="logo" class="logo extend" *ngSwitchCase="true">
    </div>

    <div class="list-group">
        <!-- Id should be the same as LeftMenuTab -->
        <a id="dashboard-tab" [routerLink]="['/dashboard']" [routerLinkActive]="['router-link-active']" (click)="sendDashboardEvent()" class="list-group-item" [ngClass]="{'side-item-collapse' : !sidebarState}" >
            <i class="fa fa-home" aria-hidden="true"></i>&nbsp;
            <span>{{ 'Dashboard' }}</span>
        </a>

        <a *ngIf="isAuthorized" id="dmo-tab" [routerLink]="['/editor']" [routerLinkActive]="['router-link-active']" (click)="sendDmoEvent()" class="list-group-item" [ngClass]="{'side-item-collapse' : !sidebarState}">
            <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;
            <span>{{ 'Create DMO' }}</span>
        </a>

        <a *ngIf="isAuthorized" id="dmos-tab" [routerLink]="['/dmos']" [routerLinkActive]="['router-link-active']" (click)="sendDmosEvent()" class="list-group-item" [ngClass]="{'side-item-collapse' : !sidebarState}">
            <i class="fa fa-sitemap" aria-hidden="true"></i>&nbsp;
            <span>{{ 'DMOs' }}</span>
        </a>

        <a *ngIf="isAuthorized" id="dmoCollections-tab" (click)="sendDmoCollectionsEvent()" class="list-group-item" [ngClass]="{'side-item-collapse' : !sidebarState}">
            <i class="fa fa-list" aria-hidden="true"></i>&nbsp;
            <span>{{ 'DMO collections' }}</span>
        </a>

        <!-- <a *ngIf="isAuthorized" id="test-tab" (click)="sendTestEvent()" class="list-group-item" [ngClass]="{'side-item-collapse' : !sidebarState}">
            <i class="fa fa-list" aria-hidden="true"></i>&nbsp;
            <span>{{ 'Test' }}</span>
        </a> -->

    </div>

    <div class="bottom-blocks auth-blocks" [ngClass]="{'top-auth-buttons' : !isAuthorized, 'collapsed' : !sidebarState}">
        <div class="auth-block main" *ngIf='isAuthorized' >
            <a class="nav-link" (click)="onLoggedout()">
                <i class="fa fa-fw fa-power-off"></i> 
                <span> {{ userManager.getCurrentUser() }} </span>
            </a>
        </div>

        <div class="auth-block" *ngIf='!isAuthorized' >
            <a [routerLink]="['/login']" class="nav-link">
                <i class="fa fa-sign-in" ></i> {{ 'Log In' }}
            </a>
        </div>

        <div class="auth-block" *ngIf='!isAuthorized' >              
            <a [routerLink]="['/signup']" class="nav-link">
                <i class="fa fa-user-plus" ></i> {{ 'Register' }}
            </a>
        </div>
    </div>

    <div class="bottom-blocks toggle-button" *ngIf='isAuthorized' [ngClass]="{collapsed : !sidebarState}" (click)="toggleSidebar()">
        <i class="fa fa-fw fa-angle-double-{{sidebarState?'left':'right'}}"></i>&nbsp;
        <span>collapse</span>
    </div>

</nav>

