<nav class="sidebar" [ngClass]="{collapsed : !sidebarState}" [ngClass]="{'with-collapse-button' : isAuthorized}">
    <div [ngSwitch]="sidebarState" class="logo-container">
        <img src="/assets/logo-en.svg" alt="logo" class="logo logo-mini" *ngSwitchCase="false" (click)='redirectToHome()'>
        <img src="/assets/logo-en-extend.svg" alt="logo" class="logo logo-extend" *ngSwitchCase="true" (click)='redirectToHome()'>
    </div>

    <div class="list-group">
        <!-- Id should be the same as LeftMenuTab -->
        <a *ngIf="isAuthorized" id="dmo-tab" [routerLink]="['/app/editor']" [routerLinkActive]="['router-link-active']" (click)="sendDmoEvent()" class="list-group-item" [ngClass]="{'side-item-collapse' : !sidebarState}">
            <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;
            <span>{{ 'Create DMO' }}</span>
        </a>

        <a *ngIf="isAuthorized" id="dmos-tab" [routerLink]="['/app/dmos']" [routerLinkActive]="['router-link-active']" (click)="sendDmosEvent()" class="list-group-item" [ngClass]="{'side-item-collapse' : !sidebarState}">
            <i class="fa fa-list-ul" aria-hidden="true"></i>&nbsp;
            <span>{{ 'DMOs' }}</span>
        </a>

        <a *ngIf="isAuthorized" id="dmoCollections-tab" (click)="sendDmoCollectionsEvent()" class="list-group-item" [ngClass]="{'side-item-collapse' : !sidebarState}">
            <i class="fa fa-layer-group" aria-hidden="true"></i> &nbsp;
            <span>{{ 'Collections' }}</span>
        </a>

        <a *ngIf="isAuthorized" id="userCabinet-tab" (click)="sendUserCabinetEvent()" class="list-group-item bottom-group-item" [ngClass]="{'side-item-collapse' : !sidebarState}">
            <i class="fa fa-user" aria-hidden="true"></i> &nbsp;
            <span>{{ userManager.getCurrentUser() }}</span>
        </a>

        <!-- <a *ngIf="isAuthorized" id="test-tab" (click)="sendTestEvent()" class="list-group-item" [ngClass]="{'side-item-collapse' : !sidebarState}">
            <i class="fa fa-list" aria-hidden="true"></i>&nbsp;
            <span>{{ 'Test' }}</span>
        </a> -->

    </div>

    <div class="bottom-blocks auth-blocks" [ngClass]="{'top-auth-buttons' : !isAuthorized}">
        <div class="auth-block" *ngIf='!isAuthorized' >
            <a [routerLink]="['/login']" class="nav-link">
                {{ 'Log In' }}
            </a>
        </div>

        <div class="auth-block" *ngIf='!isAuthorized' >              
            <a [routerLink]="['/signup']" class="nav-link">
                {{ 'Register' }}
            </a>
        </div>
    </div>

    <div class="bottom-blocks toggle-button" *ngIf='isAuthorized' [ngClass]="{collapsed : !sidebarState}" (click)="toggleSidebar()">
        <i class="fa fa-fw fa-angle-double-{{sidebarState?'left':'right'}}"></i>&nbsp;
        <span>collapse</span>
    </div>

</nav>

