@import "src/styles/fonts-mixins.scss";
@import "src/styles/colors.scss";

.base-modal {
    .base-modal-header {
        display: flex;
        margin-bottom: 14px;
        
        .modal-title {
            @include font-primary-heading();
        }

        .nna-button {
            margin-left: auto;
        }
    }

    z-index: 500;
    min-height: 300px;
    max-height: 700px;
    
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;

    .base-modal-body {
        .characters-table {
            .hoverable-character-element {
                &:hover {
                    background: $input-underline-gradient, $input-underline-gradient;
                    background-repeat: no-repeat;
                    background-size: 100% 1px;
                    background-position: bottom, top;
                    background-color: $active-background-color;
                }
            }
        }

        .character-form {
            height: fit-content;
            max-height: 600px;
            padding-right: 14px;
            overflow-y: auto;

            .nna-input-group, .nna-input-group-validation {
                margin-top: 14px;

                .true-character-list {
                    .true-character-option {
                        @include font-secondary-info();
                    }
                }


                .true-character-placeholder {
                    user-select: none;
                    opacity: .5;
                }
            }

            .character-color-input-group {
                display: flex;
                align-items: center;
                .nna-icon-button {
                    margin-left: 8px;
                }
            }
        }

        .character-validations {
            height: unset !important;
        }

        .help-window {
            height: 500px;
            max-height: 600px;
            padding-right: 14px;
            overflow-y: auto;

            p {
                margin-top: 14px;
            }
        }
    }

    .base-modal-footer {
        margin-top: auto;
    }
}
