@import 'src/styles/fonts-mixins.scss';
@import "src/styles/colors.scss";

.community-page {
    .community-header {
        display: flex;
        min-height: 52px;
        height: 52px;

        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
        box-shadow: 0 0 1em rgba(0, 0, 0, .1);
        margin-left: -14px;
        margin-right: -14px;
        background-color: white;

        .community-header {
            @include font-primary-heading();
            margin: 0;
            overflow-x: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            align-items: center;
            padding-left: 14px;
            box-shadow: none;
            width: 200px;
            min-width: 200px;
            
        }

        .community-header-kpi {
        }
    }

    .community-body {
        .search-wrapper {
            display: flex;
            width: 100%;
            justify-content: center;

            .search-container {
				flex: 0 1 600px;
                
				cursor: pointer;
				margin-right: 14px;
                margin-top: 14px;
                position: relative;

				.fa-search {
					margin-right: -16px;
                    position: absolute;
                    top: 3px;
				}

				.search-input {
					padding-left: 22px;
				}
			}

            .search-container-result {
                position: absolute;
                top: 95px;
                width: 600px;
                min-height: 300px;
                background-color: white;
                z-index: 100;
                box-shadow: 0 0 1em rgba(0, 0, 0, .1);
                padding: 14px;
                display: flex;
                flex-direction: column;

                .search-header {
                    align-self: center;
                    @include font-primary-heading();
                }

                .search-result-inner-container {

                    .search-result-subheader {
                        @include font-primary-info();
                    }

                    .searched-loaded-dmos {
                        max-height: 200px;
                        overflow-y: auto;
                        
                        .searched-loaded-dmo {
                            margin-left: 14px;
                            cursor: pointer;

                            &:hover {
                                background: $input-underline-gradient, $input-underline-gradient;
                                background-repeat: no-repeat;
                                background-size: 100% 1px;
                                background-position: bottom, top;
                                background-color: $active-background-color;
                                border-color: $active-background-color;
                            }

                            .movie-search-block {
                                .short-seached-string, .movie-progress-icon {
                                    margin-top: 7px;
                                }
                            }

                            .movie-search-block, .author-search-block {
                                display: flex;
                                .movie-progress-icon, span {
                                    margin-left: auto;
                                    padding-right: 7px;
                                }
                            }

                            .search-block {
                                .short-seached-string {
                                    max-width: 300px;
                                    margin-bottom: 7px;
                                }
                            }
                        }

                        .nna-button {
                            margin-left: 14px;
                            margin-top: 7px;
                            margin-bottom: 14px;
                        }
                    }

                    .searched-server-side-dmos {
                        display: flex;
                        align-items: center;
                        margin: 14px 0;

                        p {
                            margin-left: 14px;
                            margin-bottom: 0;
                        }

                        .nna-button {
                            margin-left: 7px;
                        }
                    }

                    .empty-search-result {
                        p {
                            margin-left: 14px;
                        }
                    }
                }
            }
        }

        .published-dmos-wrapper {
            width: 500px;
        }

        .published-dmo-paginator {
            background-color: white;
        }

        .published-dmos-table {
			.hoverable-active-element {
                border-width: 1px;
                border-style: solid;
                border-color: transparent;
                cursor: pointer;

                &:hover {
                   background: $input-underline-gradient, $input-underline-gradient;
                   background-repeat: no-repeat;
                   background-size: 100% 1px;
                   background-position: bottom, top;
                   background-color: $active-background-color;
                   border-color: $active-background-color;
               }
           }

           .movie-block {
                padding-top: 14px;
           }

           .movie-block, .author-block {
                display: flex;
                .movie-progress-icon, span {
                    margin-left: auto;
                }
           }

           .movie-block, .author-block, .dmo-block, .dmo-details-block {
                .short-string {
                    max-width: 350px;
                }
           }

           .dmo-details-block {
                .nna-button {
                    margin-bottom: 14px;
                }
           }
        }
    }
}