<div class="community-page">
    <div class="community-header">
        <h1 class="community-header no-select">Community</h1>
        <div class="community-header-kpi"></div>
    </div>
    <div class="community-body">
        <div class="search-wrapper">
            <div class="search-container">
                <i class="fa fa-search text-muted" (click)="focusSearch()"></i>
                <input #searchInput type="text" class="nna-input search-input" placeholder="dmo name, movie title, author name etc." autocomplete="off" (keyup)="localSearch($event); serverSideSearch()">
            </div>

            <div *ngIf="showSearchResultContainer" class="search-container-result">
                <h2 class="search-header no-select">Search result</h2>
                <div class="search-result-inner-container">
                    <p class="search-result-subheader no-select">Published DMOs</p>
                    
                    <div *ngIf="loadedDmosWhichFitSearch.length" class="searched-loaded-dmos">
                        <div class="searched-loaded-dmo" *ngFor="let loadedSearchedDmo of loadedDmosWhichFitSearch" (click)="openDmo(loadedSearchedDmo.id)">
                            <div class="search-block movie-search-block">
                                <p class="short-seached-string">Movie: {{loadedSearchedDmo.movieTitle}}</p>
                                <span *ngIf="loadedSearchedDmo.dmoStatusId === 0" class="material-icons movie-progress-icon" title="{{loadedSearchedDmo.dmoStatus}}">autorenew</span>
                                <span *ngIf="loadedSearchedDmo.dmoStatusId === 1" class="material-icons movie-progress-icon" title="{{loadedSearchedDmo.dmoStatus}}">done</span>
                                <span *ngIf="loadedSearchedDmo.dmoStatusId === 2" class="material-icons movie-progress-icon" title="{{loadedSearchedDmo.dmoStatus}}">block</span>
                            </div>
                            <div class="search-block author-search-block">
                                <p class="short-seached-string">Author: {{loadedSearchedDmo.authorNickname}}</p>
                                <span>{{loadedSearchedDmo.publishDate | date:'shortDate'}}</span>
                            </div>
                            <div *ngIf="loadedSearchedDmo.name" class="search-block">
                                <p class="short-seached-string">DMO name: {{loadedSearchedDmo.name}}</p>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="serverSideSearchResult > 0" class="searched-server-side-dmos">
                        <p>Found <span *ngIf="loadedDmosWhichFitSearch.length">another</span> {{serverSideSearchResult}} DMOs</p>
                        <button type="button" class='nna-button nna-button-secondary'(click)='loadMoreDmosBySearch()'>
                            Load search result
                        </button>
                    </div>

                    <div *ngIf="!loadedDmosWhichFitSearch.length && serverSideSearchResult == 0 && serverSideSearchPristine == false" class="empty-search-result">
                        <p>No search result</p>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="loadedDmos?.length" class="published-dmos-wrapper">

            <table mat-table class="nna-table published-dmos-table" [dataSource]="source">

                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef class="hoverable-element"> </th>
                    <td mat-cell class="table-cell" *matCellDef="let row"> {{row.id}} </td>
                </ng-container>
    
                <ng-container matColumnDef="dmoDetails">
                    <th mat-header-cell *matHeaderCellDef (click)="resetSelected()" class="non-selected-table-cell no-select"> Published DMOs </th>
                    <td mat-cell class="table-cell" *matCellDef="let row"> 

                        <div class="movie-block">
                            <p class="short-string">Movie: {{row.movieTitle}}</p>
                            <span *ngIf="row.dmoStatusId === 0" class="material-icons movie-progress-icon" title="{{row.dmoStatus}}">autorenew</span>
                            <span *ngIf="row.dmoStatusId === 1" class="material-icons movie-progress-icon" title="{{row.dmoStatus}}">done</span>
                            <span *ngIf="row.dmoStatusId === 2" class="material-icons movie-progress-icon" title="{{row.dmoStatus}}">block</span>
                        </div>

                        <div class="author-block">
                            <p>Author: {{row.authorNickname}}</p>
                            <span>{{row.publishDate | date:'shortDate'}}</span>
                        </div>

                        <div class="dmo-block">
                            <p *ngIf="row.name" class="short-string">DMO name: {{row.name}}</p>
                            <p *ngIf="row.shortComment" class="short-string">{{row.shortComment}}</p>
                        </div>

                        <div *ngIf="selectedDmoDetails?.id == row.id" class="dmo-details-block">
                            <p>
                                <span *ngIf="selectedDmoDetails.beatsCount > 1">Beats: {{selectedDmoDetails.beatsCount}}.&nbsp;</span> 
                                <span *ngIf="selectedDmoDetails.charactersCount">Characters: {{selectedDmoDetails.charactersCount}}.</span>
                            </p>
                            <p *ngIf="selectedDmoDetails.premise" class="short-string">
                                Premise: {{getPremiseWithQuestionMark(selectedDmoDetails.premise)}}
                            </p>
                            <p *ngIf="selectedDmoDetails.controllingIdea" class="short-string">
                                Controlling idea: {{selectedDmoDetails.controllingIdea}}
                            </p>

                            <button type="button" class='nna-button nna-button-primary'(click)='openDmo(selectedDmoDetails.id)'>
                                View (~{{selectedDmoDetails.minutesToRead}}min. to read)
                            </button>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columns"></tr>
                <tr mat-row class="hoverable-element hoverable-active-element" *matRowDef="let row; columns: columns;"
                    [class.clicked-row]="selectedDmo?.id == row.id" (click)="onRowSelect(row)">
                </tr>
            </table>
    
            <mat-paginator class="published-dmo-paginator" #paginator [length]="this.currentPagination.totalAmount" [pageIndex]="this.currentPagination.pageNumber" [hidePageSize]="true" [pageSize]="pageSize" (page)="onPaginateChange($event)"></mat-paginator>
        </div>

    </div>
</div>