
<div class="general-editor-wrapper">
    <div class="controls-panel" *ngIf='isDmoInfoSet && showControlPanel'>
        <h1 class="movie-title no-select">{{currentShortDmo.movieTitle}} </h1>

        <button *ngIf="this.initialDmoDto" type="button" class='nna-icon-button nna-button-primary' (click)='openDmoDetails()'>
            <i class="fa fa-cogs" aria-hidden="true"></i>
        </button>

        <button *ngIf="this.initialDmoDto && this.initialDmoDto.characters.length > 0" type="button" class='nna-icon-button nna-button-primary no-select' (click)="openCharactersPopup()">
            <span class="material-icons"> groups </span>
        </button>

        <div class="editor-board-tools">
        </div>

        <button type="button" class='nna-icon-button' (click)="closeEditor()">
            <i class="fa fa-times" aria-hidden="true" style="font-size: 14px; margin-top: 5px;"></i>
        </button>

    </div>
    <div *ngIf="beatsLoading == false" class="editor-board-wrapper">
       <app-plot-points-flow-readonly 
            *ngIf="beatWasSet" 
            [initialPlotPoints]="plotPointsWithMetaData" 
            [isDmoFinished]="isDmoFinised"
            >
        </app-plot-points-flow-readonly>
       <app-beats-flow-readonly 
            [initialBeats]="this.initialDmoDto.beats" 
            [initialCharacters]="this.initialDmoDto.characters" 
            [isDmoFinished]="isDmoFinised" 
            (beatsSet)="beatsSet($event)" 
            (openCharactersPopup)="onOpenCharactersPopup($event)"
            >
    </app-beats-flow-readonly>
    </div>
</div>

<div *ngIf="beatsLoading == true">
    <app-nna-spinner></app-nna-spinner>
</div>