<div *ngIf="isProcessing" >
    <app-nna-spinner></app-nna-spinner>
</div>

<div class="password-page">
    <div class="password-form-container" *ngIf="token && (reason == 0 || reason == 1) && email">
        <img src="/assets/logo-en-extend.svg" alt="logo" class="logo" (click)='redirectToHome()'>
        <p class="header" [ngSwitch]="reason">
            <span *ngSwitchCase=0>Set new password</span>
            <span *ngSwitchCase=1>Reset password</span>
        </p>
        <form role="form" [formGroup]="passwordForm" (ngSubmit)="onSubmit()" class="password-form" autocomplete="on">
            <div class="auth-slider-container">
                <div class="auth-sliders">
                   
                    <div [hidden]="true" id="email-input" class="nna-input-group auth-input">
                        <input #emailInpup type="text" name="email" id="email" formControlName="email" class="form-control nna-input" placeholder="Email" autocomplete="email" />
                    </div>

                    <div id="password-input" class="nna-input-group auth-input">
                        <input #passwordInput type="password" name="password" id="password" formControlName="password" class="form-control nna-input" placeholder="Password" 
                            (keyup)="specialTrigger($event)" (keydown)="checkKey($event)" autocomplete="new-password" />
                        <label for="password" class="nna-input-label">
                            <span *ngIf="!passwordInvalid">Password</span> 
                            <span class="validation-container" *ngIf="passwordInvalid">{{passValidationToShow}}</span>
                        </label>
                        <span [hidden]="!passwordInvalid" class="validation-icon material-icons pass-validation-icon" title="{{passValidationToShow}}"> warning_amber</span>
                        <span *ngIf="passwordHidden" class="pass-icon material-icons" title="{{showPasswordTitle}}" (click)="togglePassword(false)"> visibility</span>
                        <span *ngIf="!passwordHidden" class="pass-icon material-icons" title="{{hidePasswordTitle}}" (click)="togglePassword(true)"> visibility_off</span>
                    </div>


                </div>

                <!-- <input #emailInpup type="text" name="name" id="name" formControlName="name" autocomplete="name"/> -->

                <div class="auth-buttons">
                    <button *ngIf="!allowToSetOrResetPassword" [disabled]="isProcessing" type="button" class="nna-button-secondary" (click)="navigateToMail()">Try again</button>
                    <button [disabled]="isProcessing || !allowToSetOrResetPassword" type="submit" class="nna-button-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>

