<div class="spinner-container">
    <div class="spinner-wrapper">
        <div class="spinner">
            <div *ngIf="visible" class="spinner-inner-wrapper">
                <span class="graph-line line-first-move"></span>
                <span class="graph-line line-second-move"></span>
                <span class="graph-line line-third-move"></span>
                <span class="graph-line line-fourth-move"></span>
                <span class="graph-line line-fifth-move"></span>

                <span class="blob blob-initial"></span>  
                <span class="blob blob-initial-move"></span>  
                <span class="blob blob-first-move"></span>  
                <span class="blob blob-second-move"></span>  
                <span class="blob blob-third-move"></span>  
                <span class="blob blob-fourth-move"></span>  
            </div>
        </div>
        <div class="nna-spinner-border">
        </div>
    </div>
</div>