@import 'src/styles/colors.scss';
.spinner-container {
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    display: flex;
    align-content: center;
    justify-content: center;
    //box-shadow: 0px 0px 200px 200px rgba($primary-color, 0.9);


    .spinner-wrapper {
        width: 110px;
        height: 110px;
        position: relative;
        // border-radius: 50%;
        border: none;
        margin: auto;
        // box-shadow: 0px 0px 70px 0px rgba($primary-color, .8);
        // box-shadow: inset 0px 0px 30px 34px rgba($primary-color, 0.9), 
        //             0px 0px 30px 39px rgba($primary-color, 0.9);

        box-shadow: 0px 0px 90px 88px rgba($primary-color, 0.5), 
                    inset 0px 0px 90px 48px rgba($primary-color, 0.5);

        .nna-spinner-border {
            display: none;
            background: $border-spinner-gradient;
            position: absolute;
            height: 110px;
            width: 110px;
            border-radius: 50%;
            animation: spinner-border 1s linear infinite;
            filter: blur(2px);
        }

        .spinner {
            display: block;
            animation-fill-mode: none;
            animation: default-spinner 1s;
            // box-shadow: inset  0px 0px 70px 0px rgba($primary-color, .8);
            // background: $background-spinner-gradient;
            // border-radius: 50%;

            position: absolute;
            width: 110px;
            height: 110px;
            // width: 100px;
            // height: 100px;
            // margin: 5px;
            z-index: 10;

            .spinner-inner-wrapper {
                animation: fadeout 0.3s none .550s; 
                .graph-line {
                    position: absolute;
                    height: 0px;
                    width: 1px;
                    background-color: black;//rgba($secondary-color, 1);
                    left: calc(45% + 4px);
                }

                .line-first-move {
                animation: line-move .100s forwards;
                }

                .line-second-move {
                    top: calc(20% + 4px);
                    height: 1px;
                    width: 0px; 
                    transform: rotate(37deg);
                    transform-origin: top left;
                    animation: line-second-move .100s forwards .200s;
                }

                .line-third-move {
                    top: 40%; left: calc(65% + 6px);
                    animation: line-third-move .100s forwards .300s;
                }

                .line-fourth-move {
                    top: calc(60% - 1px); left: calc(60% + 10px);
                    height: 0px;
                    width: 1px; 
                    transform: rotate(55deg);
                    transform-origin: top left;
                    animation: line-fourth-move .100s forwards .400s;
                }

                .line-fifth-move {
                    top: calc(80% - 6px);
                    animation: line-fifth-move .100s forwards .500s;
                }
                
                .blob {
                    position: absolute;
                    background-color: black;//rgba($secondary-color, 1);
                    
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    left: 44%;
                }
                
                .blob-initial {
                    top: 0;
                }

                .blob-initial-move {
                    animation: blob-initial-move .100s forwards;
                }

                .blob-first-move {
                    opacity: 0;
                    top: calc(20% + 10px); bottom: 80%;
                    animation: blob-first-move .100s forwards .200s;
                }

                .blob-second-move {
                    opacity: 0;
                    top: calc(40% - 6px); bottom: calc(60% - 3px); left: 65%;
                    animation: blob-second-move .100s forwards .300s;
                }

                .blob-third-move {
                    opacity: 0;
                    top: calc(60% - 12px); bottom: calc(40% - 6px); left: 65%;
                    animation: blob-third-move .100s forwards .400s;
                }

                .blob-fourth-move {
                    opacity: 0;
                    top: calc(80% - 12px); bottom: calc(20% - 12px);
                    animation: blob-fourth-move .100s forwards .500s;
                }
            }
        }
    }
}

@keyframes fadeout {
    from { opacity: 1; }
    to { opacity: 0; }
}
  
@keyframes spinner-border {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@keyframes default-spinner {
    0% { display: none; }
    100% { display: block; }
}

@keyframes line-fifth-move {
    from { height: 0px; }
    to { height: calc((100% / 4)) }
}

@keyframes line-fourth-move {
    from { height: 0px; }
    to { height: calc(100% / 4) }
}

@keyframes line-third-move {
    from { height: 0px; }
    to { height: 20%; }
}

@keyframes line-second-move {
    from { width: 0px; }
    to { width: calc(100% / 4) }
}

@keyframes line-move {
    from { height: 0px;}
    to { height: 20%; }
}

@keyframes blob-fourth-move {
    0% { top: calc(80% - 12px); bottom: calc(20% - 12px); opacity: 1 }
    100% { top: calc(100% - 12px); bottom: 0; opacity: 1 }
}

@keyframes blob-third-move {
    0% { top: calc(60% - 6px); bottom: calc(40% - 6px); left: 65%; opacity: 1  }
    100% { top: calc(80% - 12px); bottom: calc(20% - 12px); left: 44%; opacity: 1  }
}

@keyframes blob-second-move {
    0% { top: calc(40% - 6px); bottom: calc(60% - 6px); left: 65%; opacity: 1 }
    100% { top: calc(60% - 6px); bottom: calc(40% - 6px); left: 65%; opacity: 1 }
}

@keyframes blob-initial-move {
    0% { top: 0; bottom: calc(100% - 12px); opacity: 1  }
    100% { top: 20%; bottom: 80%; opacity: 1 }
}

@keyframes blob-first-move {
    0% { top: 20%; bottom: 80%; opacity: 1 }
    100% { top: calc(40% - 6px); bottom: calc(60% - 6px); left: 65%; opacity: 1  }
}
  