<div class="card card-default tags-container">
    <div class="card-header tags-header no-select"> Tags </div>

    <div class="tag-seach-container">
        <input #tagNameSearch type="text" class="nna-input" placeholder="Seach tag by name" (input)="filterTags()">
    </div>
    <div class="tags-list" *ngIf="tags">
        <div class="tag-item" *ngFor="let tag of filtredTags;">
           <div class="tag-name" (click)="openTagDescription(tag.id)"> 
                <span> &#9679; {{ tag.name }} </span>
            </div>
        </div>
        <div class="empty-list-placeholder" *ngIf="!filtredTags?.length">
            <span> No search result </span>
        </div>
    </div>

</div>