@import "src/styles/colors.scss";
@import "src/styles/fonts-mixins.scss";

.dmo-collections {
  border: none;

  @mixin collection-item {
    padding: 0.75rem 1.25rem;
    text-decoration: none;
    color: #000;
    display: flex;
    &:hover {
      cursor: pointer;
    }
  }

  .collections-header {
    background: $input-underline-gradient;
    background-repeat: no-repeat;
    background-size: 100% 1px;
    background-position: bottom;
  }

  .collection-buttons-row {
    display: flex;
    .add-collection-button {
      padding: 0 !important;
      align-items: center;
      height: 40px;
      @include collection-item();
      @include primary-action-font();
      justify-content: flex-start;
      display: flex;

      .control-icon {
        color: $primary-color;
        margin-left: 1.1rem;
        margin-right: .3rem;
      }
    }
    .add-collection-button-partial-width {
      flex-basis: 80%;
    }
    .add-collection-button-full-width {
      flex-basis: 100%;
    }
    form {
      min-height: 40px;
      width: 100%;
      padding: 0;
      .add-collection-form {
        display: flex;
        justify-content: space-between;

        input {
          flex: 1 1 70%;
          padding-left: 1.4rem;
        }
        button {
          margin: auto 5px;
        }
      }
      .validation-wrapper {
        height: 1.3rem;
        display: flex;
        justify-content: center;
      }
    }
    .filter-collection-button {
      height: 40px;
      flex-basis: 20%;
      @include collection-item;

      justify-content: center;
      i {
        color: $primary-color;
        margin: auto;
      }
    }
  }
  .list-group-item {
    width: 100%;
    display: flex;
    padding: 0;
    border: none;

    &:hover {
      cursor: pointer;

      .remove-icon {
        display: block;
      }
    }

    .list-group-item-link {
      text-decoration: none;
      color: #000;
      outline: none;
      padding: 0.75rem 1.25rem;
      width: 100%;
      display: flex;
      @include secondary-font();

      .dmo-count {
        margin-left: auto;
        margin-right: 4rem;
      }
    }

    .remove-icon {
      z-index: 5;
      position: absolute;
      padding: 0.75rem 1.25rem;
      right: 0;
      top: -5px;
      display: none;
      margin-left: auto;
      margin-right: 0.4rem;
    }
  }

  .info-message {
    margin-top: 4rem;
  }

  .collection-item:last-child {
    border-width: 0;
  }

}
