@import "src/styles/colors.scss";
@import "src/styles/fonts-mixins.scss";

.dmo-collections {
	border: none;
	height: 100%;

	@mixin collection-item {
		padding: 11px 11px;
		text-decoration: none;
		color: #000;
		display: flex;

		&:hover {
			cursor: pointer;
		}
	}

	.collections-header {
		background: $input-underline-gradient;
		background-repeat: no-repeat;
		background-size: 100% 1px;
		background-position: bottom;
		border-bottom: none !important;
		height: 41px;
		min-height: 41px;
		display: flex;
		align-items: center;
		padding: 0 11px;
	}

	.collection-buttons-row {
		display: flex;

		.add-collection-button {
			padding: 0 !important;
			align-items: center;
			height: 60px;
			@include collection-item();
			@include font-primary-info();
			justify-content: flex-start;
			display: flex;
		}

		.add-collection-button-partial-width {
			flex-basis: 80%;

			.nna-button-secondary {
				margin-left: 11px;
				width: 100%;
				justify-content: center;
			}
		}

		.add-collection-button-full-width {
			flex-basis: 100%;

			.nna-button-secondary {
				margin-left: 11px;
				margin-right: 11px;
				width: 100%;
				justify-content: center;
			}
		}

		form {
			margin-top: 10px;
			min-height: 50px;
			width: 100%;
			padding: 0;
			display: flex;
			flex-direction: column;

			.add-collection-form {
				display: flex;
				align-items: center;

				input {
					flex: 1 1 70%;
					padding-left: 8px;
					margin-top: 8px;
				}

				button {
					margin: auto 4px;
				}
			}

			.validation-wrapper {
				height: 20px;
				display: flex;
				justify-content: center;
				margin-top: 5px;
			}
		}

		.filter-collection-button {
			height: 60px;
			flex-basis: 20%;
			@include collection-item;

			justify-content: center;

			.nna-icon-button {
				margin: auto;
			}
		}
	}

	.list-group-item {
		width: 100%;
		display: flex;
		padding: 0;
		border: none;
		cursor: pointer;

		.list-group-item-link {
			text-decoration: none;
			color: #000;
			outline: none;
			padding: 11px 11px;
			width: 100%;
			display: flex;
			@include font-secondary-info();

			.collection-name {
				overflow-x: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				margin-right: 8px;
			}

			.dmo-count {
				margin-left: auto;
				margin-right: 11px;
			}
		}

		&:hover {
			background: $input-underline-gradient, $input-underline-gradient;
			background-repeat: no-repeat;
			background-size: 100% 1px;
			background-position: bottom, top;
			background-color: $active-background-color;
		}
	}

	.info-message {
		height: 100%;
		margin: auto;
	}

	.collection-item:last-child {
		border-width: 0;
	}

}