<div class="card card-default mb-3 dmo-collections">
    <div class="card-header collections-header no-select"> Collentions </div>
    <div *ngIf="isFormProcessing" class="dmo-collections-spinner">
        <app-nna-spinner></app-nna-spinner>
    </div>
        <div class="collection-buttons-row">
            <div *ngIf="!isFormProcessing"  class="add-collection-button" [hidden]="!showAddButton"
                [ngClass]="{'add-collection-button-partial-width': showSortButton, 'add-collection-button-full-width': !showSortButton }">
                
                <button type="button" class='nna-button nna-button-secondary no-select' (click)="toggleAddCollectionForm(false)">
                    create collection
                </button>
            </div>

            <form [formGroup]="addCollectionForm" (ngSubmit)="onAddCollection()" [hidden]="showAddButton" autocomplete="off">
                <div class="add-collection-form">
                    <input id="collectionNameField" #collectionNameField type="text" name="collectionName" formControlName="collectionName"
                        class="nna-input" placeholder="collection name">
                    <button type="submit" [disabled]="!addCollectionForm.valid" class='nna-icon-button nna-button-primary'
                        [ngClass]="{'nna-diabled-button': !addCollectionForm.valid}">
                        <i class="fa fa-check"aria-hidden="true"></i>
                    </button>
                    <button type="button" class='nna-icon-button' (click)="toggleAddCollectionForm(false)">
                        <i class="fa fa-times" aria-hidden="true" style="font-size: 14px; margin-top: 5px;"></i>
                    </button>
                </div>
                <div *ngIf="collectionName.invalid && (collectionName.dirty)" class="validation-wrapper">
                    <div *ngIf="collectionName.invalid && (collectionName.dirty)"
                        class="validation-container">
                        <div *ngIf="collectionName.errors.required">
                            <p class="validation-text">name is missing </p>
                        </div>
                        <div *ngIf="collectionName.errors.maxlength">
                            <p class="validation-text">Maximum name length exceeded</p>
                        </div>
                    </div>
                </div>
            </form>
            
            <div class="filter-collection-button" *ngIf='showSortButton' [hidden]="!showAddButton" (click)="sortCollections()" title="{{sortingTittle}}">
                <button [hidden]="collectionsByAcs || collectionsByDefault" type="button" class='nna-icon-button'>
                    <i class="fa fa-sort-numeric-up" aria-hidden="true" title="{{sortingTittle}}"></i>
                </button>      
                <button [hidden]="collectionsByDesc || collectionsByDefault" type="button" class='nna-icon-button'>
                    <i class="fa fa-sort-numeric-down" aria-hidden="true" title="{{sortingTittle}}"></i>
                </button>  
                <button [hidden]="collectionsByDesc || collectionsByAcs" type="button" class='nna-icon-button'>
                    <i class="fa fa-sort-numeric-down" aria-hidden="true" title="{{sortingTittle}}"></i>
                </button>  
            </div>
        </div>

        <div class="list-group">
            <div class="list-group-item" *ngFor="let dmoList of sortedDmoLists;">
                <div class="list-group-item-link" (click)="openCollection(dmoList.id)">
                    <span class="collection-name"> &#9679; {{ dmoList.collectionName }} </span> <span class="dmo-count" [hidden]="dmoList.dmoCount < 1">{{ dmoList.dmoCount }}</span>
                </div>
            </div>
        </div>

    <div *ngIf="dmoLists && !dmoLists.length" class="info-message">
        You have no collection yet.
    </div>

</div>