@import "~ngx-toastr/toastr";
@import "styles/buttons.scss";
@import "styles/fonts-mixins.scss";
@import "styles/inputs.scss";


.validation-wrapper {
  margin-top: 0.2rem;
  height: 0.8rem;

  .validation-container {
    height: 0.8rem;
    p {
      margin-bottom: 0;
    }
  }
}
.validation-text {
  color: #ff8c00;
}

html, body {
  height: 100%;
  margin: 0;

  .secondary-font {
    @include secondary-font();
  }

  .primary-heading-font {
    @include primary-heading-font();
  }
}




.mat-dialog-container {
  border-radius: 0 !important;
  border-style: solid !important;
  border-width: 1px !important;
  border-image: $button-border-gradient !important;
  box-shadow: none !important;
}


.base-modal {
  .base-modal-header p {
    margin: 0;
    @include primary-heading-font();
  }

  .base-modal-body p {
    margin: 0;
    @include secondary-font();
  }

  .base-modal-header, .base-modal-body {
    margin-bottom: 24px;
  }

  .base-modal-footer {
    display: flex; 
    justify-content: flex-end;
    
    button {
      margin-left: 0.5rem;  
    }
  }
}

