@import "~ngx-toastr/toastr";
@import "styles/buttons.scss";
@import "styles/fonts-mixins.scss";
@import "styles/inputs.scss";
@import "styles/table.scss";
@import "styles/link.scss";
@import "styles/tooltip.scss";

* {
  box-sizing: border-box; 
}

[hidden] {
  display: none !important;
}

html, body {
  @include font-primary-info();
  height: 100%;
  margin: 0;
  font-size: 16px;
}

::-webkit-scrollbar-track {
  background-color:  $background-color;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: $background-color;
}

::-webkit-scrollbar-thumb {
  background-color: $for-background-contrast-color;
}

.validation-wrapper {
  margin-top: 0.2rem;
  height: 1.4rem !important;

  .validation-container {
    height: 0.8rem;
    p {
      margin: 0;
      @include font-primary-info();
    }
  }
}

.validation-text {
  color: $validation-color;
}


.info-message {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  @include font-primary-info();

  button {
    margin-left: .5rem;
    margin-right: .5rem;
  }
}

.spinner-container {
  z-index: 1000;
}

.dmo-collections-spinner .spinner-container, .personal-info-spinner .spinner-container {
  height: 100% !important;
  width: 235px !important;
  left: unset !important;

  .spinner-wrapper {
    height: 100% !important;

    .spinner {
      top: calc(50% - calc(110px / 2));
    }
  }
}

.mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
  background-color: $primary-color !important;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: $primary-color;
}

.mat-checkbox .mat-checkbox-layout .mat-checkbox-inner-container .mat-checkbox-ripple .mat-ripple-element {
  background-color: transparent !important;
}

.mat-dialog-container {
  border-radius: 0 !important;
  border-style: solid !important;
  border-width: 1px !important;
  border-image: $button-border-gradient !important;
  box-shadow: none !important;
}

.base-modal {
  .base-modal-header p {
    margin: 0;
    @include font-primary-heading();
  }

  .base-modal-body p {
    margin: 0;
    @include font-secondary-info();
  }

  .base-modal-header, .base-modal-body {
    margin-bottom: 24px;
  }

  .base-modal-footer {
    display: flex; 
    justify-content: flex-end;
    
    button {
      margin-left: 0.5rem;  
    }
  }
}

.mat-drawer-container {
  background-color: white;

  .mat-drawer  {
    width: 235px;
  }
}

.mat-drawer {
  ::-webkit-scrollbar-track {
    background-color: white !important;
  }
  
  ::-webkit-scrollbar {
    background-color: white !important;
  }
}


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
