@import "~ngx-toastr/toastr";
@import "styles/buttons.scss";
@import "styles/fonts-mixins.scss";
@import "styles/inputs.scss";
@import "styles/table.scss";


.validation-wrapper {
  margin-top: 0.2rem;
  height: 1.4rem !important;

  .validation-container {
    height: 0.8rem;
    p {
      margin-bottom: 0;
    }
  }
}

.validation-text {
  color: $validation-color;
}

html, body {
  height: 100%;
  margin: 0;
  font-size: 16px;
}

.info-message {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;

  @include font-primary-info();
}

.spinner-container {
  z-index: 1000;
}

.dmo-collections-spinner {
  .spinner-container {
    width: 340px !important;
    left: unset !important;
  }
}

.mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
  background-color: $primary-color !important;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: $primary-color;
}

.mat-checkbox .mat-checkbox-layout .mat-checkbox-inner-container .mat-checkbox-ripple .mat-ripple-element {
  background-color: transparent !important;
}

.mat-dialog-container {
  border-radius: 0 !important;
  border-style: solid !important;
  border-width: 1px !important;
  border-image: $button-border-gradient !important;
  box-shadow: none !important;
}


.base-modal {
  .base-modal-header p {
    margin: 0;
    @include font-primary-heading();
  }

  .base-modal-body p {
    margin: 0;
    @include font-secondary-info();
  }

  .base-modal-header, .base-modal-body {
    margin-bottom: 24px;
  }

  .base-modal-footer {
    display: flex; 
    justify-content: flex-end;
    
    button {
      margin-left: 0.5rem;  
    }
  }
}

.mat-drawer-container .mat-drawer  {
  width: 235px;
}


