<div #toastrWrapper class="toastr-wrapper openning" >
    <div [ngSwitch]="title" [ngSwitch]="title" class="icon-container">
        <i *ngSwitchCase="'Success!'" class="fa fa-check" aria-hidden="true"></i>
        <i *ngSwitchCase="'Warning'" class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        <i *ngSwitchCase="'Error!'" class="fa fa-exclamation-circle" aria-hidden="true"></i>
        <i *ngSwitchDefault class="fa fa-check" aria-hidden="true"></i>
    </div>

    <div class="message-container">
        <h4 class="title" [attr.aria-label]="title"> {{ title }}</h4>
        <div *ngIf="!options.enableHtml" class="message" role="alert" aria-live="polite" [class]="options.messageClass" [attr.aria-label]="message">{{ message }}</div>
        <div *ngIf="options.enableHtml" class="message" role="alert" aria-live="polite" [class]="options.messageClass" [attr.aria-label]="message" [innerHTML]="message">{{ message }}</div>
    </div>
    <div class="button-container">
        <button type="button" class='nna-icon-button' (click)="remove()">
            <i class="fa fa-times" aria-hidden="true" style="font-size: 14px; margin-top: 5px;"></i>
        </button>
    </div>
</div>
