@import "src/styles/fonts-mixins.scss";
@import "src/styles/colors.scss";
@import "src/styles/buttons.scss";

.home-container {
    margin: auto;
    width: 100%;
    background: $background-color;

    .home-plot-points {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;

        .home-plot-point {
            width: 650px;
            height: 650px;
            color: $background-color;
            background: $for-background-contrast-color;
            border-radius: 50%;

            .home-header {
                @include font-primary-heading();
                color: $primary-color;
                font-size: 2.375rem !important;
                display: flex;
                justify-content: center;
            }

            .dark-header {
                color: $for-background-contrast-color;
            }
            
            .home-info-block {
                @include font-secondary-info();

                .brand-color {
                    color: $primary-color;
                }

                .icon-shift {
                    position: relative;
                    top: 1px;
                    left: 2px;
                }
            }

            .block-splitter {
                flex: 1 1 100%;
                height: 0px;
            }

            .bright-info-block {
                @include font-secondary-info();
                color: $for-background-contrast-color;

                .brand-color {
                    color: $primary-color;
                }

                .icon-shift {
                    position: relative;
                    top: 1px;
                    left: 2px;
                }
            }
        }

        .bright-plot-point {
            background: transparent !important;
            border: solid 2px $for-background-contrast-color;
        }

        .first-plot-point {
            height: 325px;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            border-bottom-left-radius: 10000rem;
            border-bottom-right-radius: 10000rem;

            .home-info-block {
                display: flex;
                justify-content: center;
                padding-top: 1rem;
                margin-left: 17rem;
                margin-right: auto;
            }
        }

        .first-plot-point {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            .home-header {
                padding-top: 1rem;
                margin-left: 16.8rem;
                margin-right: auto;
            }

            .home-subheader {
                display: flex;
                justify-content: center;
                padding-top: 0 !important;
                margin-left: 17rem;
                margin-right: auto;
            }

            .home-auth-block {
                display: flex;
                justify-content: center;
                margin-left: auto;
                margin-right: auto;
                padding-top: 6rem;

                button {
                    display: flex;
                    justify-content: center;
                    margin-left: .5rem;
                    text-transform: capitalize !important;
                    width: 6rem;
                    height: 2.4rem;
                }
            }
        }

        .second-plot-point {
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;

            .home-header {
                padding-top: 2rem;
                flex: 0 0 100%;
            }

            .first-info-block {
                flex: 0 0 50%;
                margin: auto;
                padding-top: 2rem;
            }

            .second-info-block {
                flex: 0 0 35%;
                margin: auto;
                margin-top: 8rem;
            }

            .third-info-block {
                flex: 0 0 35%;
                margin: auto;
                margin-top: 8rem;
            }

            .fourth-info-block {
                flex: 0 0 50%;
                margin: auto;
                padding-top: 6rem;
            }

            .fifth-info-block {
                flex: 0 0 50%;
                margin: auto;
                padding-top: 1rem;
            }
        }

        .third-plot-point {
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;

            .home-header {
                margin: auto;
            }

            .second-header {
                margin: auto;
                padding-top: 3rem;
            }

            .first-info-block {
                margin: auto;
                padding-top: 8rem;
            }

            .second-info-block {
                flex: 0 0 200px;
                margin: auto;
                margin-top: 8rem;
            }

            .third-info-block {
                flex: 0 0 200px;
                margin: auto;
                margin-top: 8rem;
                padding-left: 3rem;
            }

            .fourth-info-block {
                flex: 0 0 200px;
                margin: auto;
                margin-top: 3rem;
            }

            .fifth-info-block {
                flex: 0 0 200px;
                margin: auto;
                margin-top: 3rem;
                padding-left: 3rem;
            }

            .sixth-info-block {
                margin: auto;
                padding-top: 8rem;
            }
        }

        .fourth-plot-point {
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;

            .home-header {
                padding-top: 2rem;
                flex: 0 0 100%;
            }

            .first-info-block {
                flex: 0 0 55%;
                margin: auto;
                padding-top: 2rem;
            }

            .second-info-block {
                flex: 0 0 35%;
                margin: auto;
                margin-top: 7rem;
            }

            .third-info-block {
                flex: 0 0 35%;
                margin: auto;
                margin-top: 7rem;
            }

            .fourth-info-block {
                flex: 0 0 55%;
                margin: auto;
                padding-top: 7rem;
            }

            .fifth-info-block {
                flex: 0 0 55%;
                margin: auto;
                padding-top: 2rem;
            }
        }

        .home-plot-frame-container {
            width: 100%;
            background: $primary-color;

            .home-plot-frame-info {
                width: calc(650px + calc(650px * 0.1));
                margin: auto;

                color: $for-background-contrast-color;
                display: flex;
                justify-content: space-around;

                .home-frame-block-info {
                    display: flex;
                    flex-direction: column;
                    min-width: 160px;

                    .home-frame-block-info-header {
                        margin: 1rem;
                        align-self: center;
                        @include font-primary-heading();
                    }

                    .home-frame-block-info-content {
                        ul, ol {
                            @include font-secondary-info();
                            padding-left: 2rem;
                            margin-top: 0;
                            li {
                                .icon-shift {
                                    position: relative;
                                    top: 1px;
                                    left: 2px;
                                }
                                svg {
                                    width: fit-content;
                                }
                                padding-top: 0.5rem;
                                ul, ol {
                                    list-style-type: initial;
                                    padding-left: 1rem;
                                }

                                .answer {
                                    display: flex;
                                    list-style-type:none;
                                    padding-left: 0 !important;

                                    &::before {
                                        padding-top: 0.5rem;
                                        content: "\2014\00A0";
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .last-plot-point {
            height: 325px;
            border-top-left-radius: 10000rem;
            border-top-right-radius: 10000rem;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;

            .home-header {
                margin-top: 2rem;
            }

            .home-subheader {
                display: flex;
                margin-left: 16.1rem;
            }

            .home-auth-block {
                display: flex;
                margin-left: 16.1rem;
                padding-top: 8rem;

                button {
                    display: flex;
                    justify-content: center;
                    margin-left: .5rem;
                    text-transform: capitalize !important;
                    width: 6rem;
                    height: 2.4rem;
                }
            }

            .button-for-authorized-user{
                display: flex;
                justify-content: center;
                text-transform: capitalize !important;
                width: 6rem;
                height: 2.4rem;
                margin: auto;
                margin-top: 8rem;
            }

            .home-footer {
                display: flex;
                @include font-secondary-info();
                margin-bottom: .5rem;
                margin-left: 16.1rem;

                .links {
                    margin-right: 2rem;
                    padding-top: 3rem;
                    a {
                        color: $background-color;
                        text-decoration: none;
                    }
                }

                .copyright {
                    padding-top: 3rem;
                }
            }
        }

        .home-line {
            margin: auto;
            width: 2px;
            height: 200px;
            background: $for-background-contrast-color;
        }
    }
}