<div class="home-container">

    <div class="home-plot-points">

        <div class="home-plot-point first-plot-point">
            <div class="home-header"> DMO Editor </div>
            <div class="home-subheader home-info-block"> 
                <span class="brand-color">D</span>
                ecomposed 
                <span class="brand-color">&nbsp;M</span>
                ovie 
                <span class="brand-color">&nbsp;O</span>
                bjects   
            </div>

            <div class="home-auth-block">
                <button *ngIf="!isAuthorized" type="button" class="nna-button-primary first-nna-button" (click)="toRegistration()"> Register </button>
                <button *ngIf="!isAuthorized" type="button" class="nna-button-secondary nna-button-bright" (click)="toLogin()"> Login </button>
                <button *ngIf="isAuthorized" type="button" class="nna-button-primary first-nna-button nna-button-width-unset" (click)="toLayout()"> Explore your DMOs </button>
            </div>

            <div class="home-info-block">
                Learn how to understand 
                <br />
                storytelling as never before
            </div>
        </div>
        <div class="home-line"></div>
        <div class="home-plot-point second-plot-point">
            <div class="home-info-block first-info-block"><span class="brand-color">DMO</span>&nbsp;stands for Decomposed Movie Object. It’s an analytical structured report which describes the story in the most possible detailed way.</div>
            <div class="home-info-block second-info-block">New method of understanding <br /> the Principles of Screenwriting.</div>
            <div class="home-info-block third-info-block"> DMO editor is designed specifically for analysing movie screenplay. It helps you to understand the structure of the story.</div>
            <div class="home-header"> What? </div>
            <div class="home-info-block fourth-info-block">Everything  in a movie tell a story. And there’s just no single comprehensive way which could completely describe the movie in all it’s endless details. DMO is meant to fix it.</div>
            <div class="home-info-block fifth-info-block">It’s not about critic impression it’s about screenwriter professionalism. Once you’re read or create a DMO you know everything about the movie.</div>
        </div>
        <div class="home-line"></div>
        <div class="home-plot-point bright-plot-point third-plot-point">
            <div class="home-info-block bright-info-block first-info-block">Movie critics</div>
            <div class="home-info-block bright-info-block second-info-block">Screenplay students</div>
            <div class="home-info-block bright-info-block third-info-block">Screenplay teatures</div>
            <div class="home-info-block bright-info-block fourth-info-block">Movie geeks</div>
            <div class="home-header"> For who? </div>
            <div class="home-info-block bright-info-block fifth-info-block">Screenwriters</div>
            <div class="home-info-block bright-info-block sixth-info-block">Directos</div>
        </div>
        <div class="home-line"></div>
        <div class="home-plot-point fourth-plot-point">
            <div class="home-info-block first-info-block">The story is not just the text which was laid into the screenplay. It’s numerous variations of decisions which resulted into compelling movie. Isn't it interesting?</div>
            <div class="home-info-block second-info-block">Sometimes the first version of screenplay and the final movie are two different planets. DMO let you to learn from it.</div>
            <div class="home-header"> Why? </div>
            <div class="home-info-block third-info-block">It's reaaly hard to understand the rules of screenplay even for proffesionals. With DMO it's much more fascinating.</div>
            <div class="home-info-block fourth-info-block">You can reserch the reasons why some movies stay in cinema history and others are forgoten next day after release.</div>
            <div class="home-info-block fifth-info-block">If you really love cinema <br /> you already know why :)</div>
        </div>
    </div>
</div>
