<div class="home-container">

    <div class="home-plot-points">

        <div class="home-plot-point first-plot-point">
            <div class="home-header"> DMO editor </div>
            <div class="home-subheader home-info-block"> 
                <span class="brand-color">D</span>
                ecomposed 
                <span class="brand-color">&nbsp;M</span>
                ovie 
                <span class="brand-color">&nbsp;O</span>
                bjects   
            </div>

            <div class="home-auth-block">
                <button *ngIf="!isAuthorized" type="button" class="nna-button-primary first-nna-button" (click)="toRegistration()"> Register </button>
                <button *ngIf="!isAuthorized" type="button" class="nna-button-secondary nna-button-bright" (click)="toLogin()"> Login </button>
                <button *ngIf="isAuthorized" type="button" class="nna-button-primary first-nna-button nna-button-width-unset" (click)="toLayout()"> Explore your DMOs </button>
            </div>

            <div class="home-info-block">
                Learn how to understand 
                <br />
                storytelling as never before
            </div>
        </div>
        <div class="home-line"></div>
        <div class="home-plot-point second-plot-point">
            <div class="home-info-block first-info-block"><span class="brand-color">DMO</span>&nbsp;stands for Decomposed Movie Object. It’s an analytical structured report which describes the story in the most possible detailed way.</div>
            <div class="home-info-block second-info-block">New method of understanding <br /> the Principles of Screenwriting.</div>
            <div class="home-info-block third-info-block"> DMO editor is designed specifically for analysing movie screenplay. It helps you to understand the structure of the story.</div>
            <div class="home-header"> What? </div>
            <div class="home-info-block fourth-info-block">Everything  in a movie tell a story.<i class="fa fa-puzzle-piece icon-shift brand-color" aria-hidden="true"></i> And there’s just no single comprehensive way which could completely describe the movie in all it’s endless details 
                DMO is meant to fix it.
            </div>
            <div class="home-info-block fifth-info-block">It’s not about critic evaluation<i class="fa fa-star icon-shift brand-color" aria-hidden="true"></i> it’s about screenwriter professionalism. Once you’re read or create a DMO you know <br /> everything about the movie.</div>
        </div>
        <div class="home-line"></div>
        <div class="home-plot-point bright-plot-point third-plot-point">
            <div class="home-info-block bright-info-block first-info-block">Movie critics<i class="fa fa-star icon-shift" aria-hidden="true"></i> </div>
            <div class="home-info-block bright-info-block second-info-block">Screenplay<i class="fa fa-graduation-cap icon-shift" aria-hidden="true"></i> students</div>
            <div class="home-info-block bright-info-block third-info-block">Screenplay teachers <i class="fa fa-book icon-shift" aria-hidden="true"></i></div>
            <div class="home-info-block bright-info-block fourth-info-block">Movie<i class="fa fa-robot icon-shift" aria-hidden="true"></i> geeks</div>
            <div class="home-header dark-header"> For who? </div>
            <div class="home-info-block bright-info-block fifth-info-block">Screenwriters<i class="fa fa-pen icon-shift" aria-hidden="true"></i> </div>
            <div class="home-info-block bright-info-block sixth-info-block">Directos<i class="fa fa-video icon-shift" aria-hidden="true"></i> </div> 
        </div>
        <div class="home-line"></div>
        <div class="home-plot-point fourth-plot-point">  
            <div class="home-info-block first-info-block">The story is not just the text which was laid into the screenplay.<i class="fa fa-search icon-shift brand-color" aria-hidden="true"></i> It’s numerous variations of decisions which resulted into compelling movie. Isn't it interesting?</div>
            <div class="home-info-block second-info-block">Sometimes the first version of screenplay and the final movie are two different planets.<i class="fa fa-globe icon-shift brand-color" aria-hidden="true"></i> DMO let you to learn from it.</div>
            <div class="home-header"> Why? </div>
            <div class="home-info-block third-info-block">It's reaaly hard to understand the rules of screenplay even for proffesionals. With DMO it's much more fascinating.</div>
            <div class="home-info-block fourth-info-block">You can research the reasons why some movies stay in cinema history and others are forgotten next day after release.</div>
            <div class="home-info-block fifth-info-block">If you really <i class="fa fa-heart icon-shift brand-color" aria-hidden="true"></i> cinema <br /> you already know why :)</div>
        </div>
        <div class="home-line"></div>
        <div class="home-plot-frame-container">
            <div class="home-plot-frame-info">
            <div class="home-frame-block-info">
                <div class="home-frame-block-info-header">Features</div>
                <div class="home-frame-block-info-content">
                    <ul>
                        <li>Beats editor</li>
                        <li>Character designer</li>
                        <li>Automatic movie rythm graph<i class="fa fa-chart-line icon-shift" aria-hidden="true"></i></li>
                        <li>Automatic movie tempo graph<i class="fa fa-chart-line icon-shift" aria-hidden="true"></i></li>
                        <li>DMO collections</li>
                        <li>Flexible tag system<i class="fa fa-hashtag icon-shift" aria-hidden="true"></i></li>
                        <li>ACTs separator</li>
                        <li>Story structure builder</li>
                        <li>Sharing<i class="fa fa-share icon-shift" aria-hidden="true"></i></li>
                    </ul>
                </div>
            </div>

            <div class="home-frame-block-info">
                    <div class="home-frame-block-info-header">Guide</div>
                    <div class="home-frame-block-info-content">
                        <ol start="1">
                            <li>Choose a movie you want to decompose<i class="fa fa-download icon-shift" aria-hidden="true"></i></li>
                            <li>Open DMO editor</li>
                            <li>Start watching the movie<i class="fa fa-play icon-shift" aria-hidden="true"></i></li>
                            <li>Notice a beat?
                                <ul>
                                    <li>Mark it's time</li>
                                    <li>Add descripton</li>
                                    <li>Specify beat type</li>
                                    <li>Add charge <i class="fa fa-plus icon-shift" aria-hidden="true"></i></li> 
                                    <li>Add tag</li>
                                    <li>Add character</li>
                                </ul>
                            </li>
                            <li>Act just ended?
                                <ul>
                                    <li>Mark it</li>
                                </ul>
                            </li>
                            <li>Notice structural element in story? 
                                <ul>
                                    <li>Specify it</li>
                                </ul>
                            </li>
                            <li>Finish DMO</li>
                            <li>Explore tempo and rythm graphs and movie structure</li>
                        </ol>
                    </div>
                </div>

                <div class="home-frame-block-info">
                    <div class="home-frame-block-info-header">FAQ</div>
                    <div class="home-frame-block-info-content">
                        <ul>
                            <li>Do I need some screenwriter diploma to be able to use editor?
                                <ul class="answer">
                                    <li>No at all. But you have to be familiar with basic screenwritter theory</li>
                                </ul>
                            </li>
                            <li>DMO? These are kind of critick review?
                                <ul class="answer">
                                    <li>These are deeply analytical story review</li>
                                </ul>
                            </li>
                            <li>Is it another super-compex tool for editing screenplay?
                                <ul class="answer">
                                    <li>It’s rather super-easy tool for screenplay decomposition</li>
                                </ul>
                            </li>
                            <li>Why shoudn’t I just use base notepat or smth else?
                                <ul class="answer">
                                    <li>It's designed specifically for movie decomposition but you never know what is better for you</li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                </div>

                <div class="home-frame-block-info">
                    <div class="home-frame-block-info-header">Benefits</div>
                    <div class="home-frame-block-info-content">
                        <ul>
                            <li>Your work won’t be lost. All you do instantly syncs with cloud<i class="fa fa-cloud icon-shift" aria-hidden="true"></i></li>
                            <li>No MS Word-like buttons mess. Clean and useful design</li>
                            <li>Active and realy positive comunity</li>
                            <li>No downloads. Use directly from browser<i class="fa fa-tablet-alt icon-shift" aria-hidden="true"></i></li>
                            <li>Decompose together with your friends in real time</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-line"></div>
        <div class="home-plot-point last-plot-point">
            <div class="home-header"> DMO editor </div>
            <div class="home-subheader home-info-block"> 
                <span class="brand-color">D</span>
                ecomposed 
                <span class="brand-color">&nbsp;M</span>
                ovie 
                <span class="brand-color">&nbsp;O</span>
                bjects   
            </div>

            <div class="home-auth-block">
                <button *ngIf="!isAuthorized" type="button" class="nna-button-primary first-nna-button" (click)="toRegistration()"> Register </button>
                <button *ngIf="!isAuthorized" type="button" class="nna-button-secondary nna-button-bright" (click)="toLogin()"> Login </button>
                <button *ngIf="isAuthorized" type="button" class="nna-button-primary first-nna-button nna-button-width-unset" (click)="toLayout()"> Explore your DMOs </button>
            </div>

            <div class="home-footer">
                <div class="links">
                    <a href="#">GitHub</a> 
                    <br /> 
                    <a href="#">Twitter</a>
                </div>
                <div class="copyright">
                    Designed with <span style="color: red;">&#10084;</span> <br /> by Serenkiy &#169; 2021
                </div>
            </div>
        </div>
    </div>
</div>
