@import "src/styles/fonts-mixins.scss";
@import "src/styles/colors.scss";
@import "src/styles/buttons.scss";

$blackForHomePage:#212123;
$whiteForHomePage: #E5E5E5;

//E5E5E5

.home-container {
    margin: auto;
    width: 100%;
    background: $whiteForHomePage;

    .home-plot-points {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;

        .home-plot-point {
            width: 650px;
            height: 650px;
            color: $whiteForHomePage;
            background: $blackForHomePage;
            border-radius: 50%;

            .home-header {
                @include font-primary-heading();
                color: $primary-color;
                font-size: 2.375rem !important;
                display: flex;
                justify-content: center;
            }

            .dark-header {
                color: $blackForHomePage;
            }

            
            .home-info-block {
                @include font-secondary-info();

                .brand-color {
                    color: $primary-color;
                }

            }

            .bright-info-block {
                @include font-secondary-info();
                color: $blackForHomePage;

                .brand-color {
                    color: $primary-color;
                }
            }
        }

        .bright-plot-point {
            background: transparent !important;
            border: solid 2px $blackForHomePage;
        }

        .first-plot-point {
            height: 325px;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            border-bottom-left-radius: 10000rem;
            border-bottom-right-radius: 10000rem;

            .home-info-block {
                display: flex;
                justify-content: center;
                padding-top: 3rem;
                margin-left: 17rem;
                margin-right: auto;
            }
        }

        .first-plot-point, .last-plot-point  {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            .home-header {
                padding-top: 3rem;
                margin-left: 16.8rem;
                margin-right: auto;
            }

            .home-subheader {
                display: flex;
                justify-content: center;
                padding-top: 0.5rem !important;
                margin-left: 17rem;
                margin-right: auto;
            }

            .home-auth-block {
                display: flex;
                justify-content: center;
                margin-left: auto;
                margin-right: auto;
                padding-top: 3rem;

                button {
                    display: flex;
                    justify-content: center;
                    margin-left: .5rem;
                    text-transform: capitalize !important;
                    width: 6rem;
                    height: 2.4rem;
                }
            }
        }

        .second-plot-point {
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;

            .home-header {
                margin: auto;
            }

            .first-info-block {
                width: 17rem;
                margin-top: 11rem;
                margin-left: 6rem;
            }

            .second-info-block {
                margin-top: 11rem;
                width: 17rem;
                margin-left: 3rem;
            }

            .third-info-block {
                width: 14rem;
                margin-left: 1rem;
                margin-top: 5rem;
            }

            .fourth-info-block {
                width: 14rem;
                margin-left: 1rem;
                margin-top: 5rem;
            }

            .fifth-info-block {
                margin-top: 6rem;
                margin-left: 6rem;
                width: 37rem;
            }
        }

        .third-plot-point {
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;

            .home-header {
                margin: auto;
            }

            .first-info-block {
                margin-top: 14rem;
                margin-left: 6rem;
            }

            .second-info-block {
                margin-top: 10rem;
                margin-left: 6rem;
            }

            .third-info-block {
                margin-left: 4rem;
                margin-top: 17rem;
            }

            .fourth-info-block {
                margin-left: 4rem;
                margin-top: 5rem;
                margin-right: 8rem;
            }

            .fifth-info-block {
                margin-top: 9rem;
                margin-left: 5rem;
                width: 11rem;
            }

            .sixth-info-block {
                margin-top: 6rem;
                margin-left: 21rem;
            }
        }

        .fourth-plot-point {
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;

            .home-header {
                margin: auto;
                margin-top: 6rem;
            }

            .first-info-block {
                width: 37rem;
                margin-top: 11rem;
                margin-left: 6rem;
                margin-bottom: 3rem;
            }

            .second-info-block {
                margin-top: 4rem;
                width: 15rem;
                margin-left: 1rem;
            }

            .third-info-block {
                width: 14rem;
                margin-top: 4rem;
                margin-left: 1rem;
            }

            .fourth-info-block {
                width: 16rem;
                margin-left: 6rem;
                margin-top: 5rem;
            }

            .fifth-info-block {
                margin-top: 5rem;
                margin-left: 4rem;
            }
        }

        .home-plot-frame-container {
            width: 100%;
            background: $primary-color;

            .home-plot-frame-info {
                width: calc(650px + calc(650px * 0.1));
                margin: auto;

                color: $blackForHomePage;
                display: flex;
                justify-content: space-around;

                .home-frame-block-info {
                    display: flex;
                    flex-direction: column;
                    min-width: 160px;

                    .home-frame-block-info-header {
                        margin: 1rem;
                        align-self: center;
                        @include font-primary-heading();
                    }

                    .home-frame-block-info-content {
                        ul, ol {
                            @include font-secondary-info();
                            padding-left: 2rem;
                            margin-top: 0;
                            li {
                                padding-top: 0.5rem;
                                ul, ol {
                                    list-style-type: initial;
                                    padding-left: 1rem;
                                }

                                .answer {
                                    display: flex;
                                    list-style-type:none;
                                    padding-left: 0 !important;

                                    &::before {
                                        padding-top: 0.5rem;
                                        content: "\2014\00A0";
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .last-plot-point {
            height: 325px;
            border-top-left-radius: 10000rem;
            border-top-right-radius: 10000rem;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;

            .home-footer {
                display: flex;
                justify-content: center;
                align-items: flex-end;
                width: 100%;
                @include font-secondary-info();
                position: relative;
                top: 8rem;
                margin-bottom: .5rem;

                .links {
                    margin-right: 2rem;
                    a {
                        color: $whiteForHomePage;
                        text-decoration: none;
                    }
                }

                .copyright {
                    margin-left: 2rem;
                }
            }
        }

        .home-line {
            margin: auto;
            width: 2px;
            height: 200px;
            background: $blackForHomePage;
        }
    }
}