<div class="home-container">

    <div class="home-plot-points">

        <div class="home-plot-point first-plot-point" (click)="scrollToPlotPoint($event.target)">
            <h1 class="home-header"> DMO editor </h1>
            <div class="home-subheader home-info-block"> 
                <span class="brand-color">D</span>
                ecomposed 
                <span class="brand-color">&nbsp;M</span>
                ovie 
                <span class="brand-color">&nbsp;O</span>
                bjects   
            </div>

            <div class="home-auth-block">
                <button *ngIf="!isAuthorized" type="button" class="nna-button-primary first-nna-button" (click)="toRegistration()"> Register </button>
                <button *ngIf="!isAuthorized" type="button" class="nna-button-secondary nna-button-bright" (click)="toLogin()"> Login </button>
                <div *ngIf="isAuthorized" class="logged-in-container">
                    <button type="button" class="nna-button-primary first-nna-button nna-button-width-unset" (click)="toLayout()"> Explore your DMOs </button>
                    <span class="user-name-span">Logged in as: <span class="login-font">{{userName}}</span> </span>
                </div>

            </div>

            <div class="home-info-block">
                Learn how to understand 
                <br />
                storytelling as never before
            </div>
        </div>
        <div class="home-line"></div>
        <div class="home-plot-point second-plot-point" (click)="scrollToPlotPoint($event.target)">
            <div class="home-header"> What? </div>
            <div class="home-info-block first-info-block"><span class="brand-color">DMO</span> it's an analytical structured report which describes the movie screenplay in the most possible detailed way.</div>
            <div class="home-info-block block-splitter"></div>
            <div class="home-info-block second-info-block"> DMO editor is designed specifically for analysing movie screenplay. It helps you to understand the structure of the story.</div>
            <div class="home-info-block third-info-block">Once you’re read or create DMO you know everything about movie. It’s not about critic evaluation <i class="fa fa-star icon-shift brand-color" aria-hidden="true"></i> it’s about screenwriter craft.</div>
            <div class="home-info-block block-splitter"></div>
            <div class="home-info-block fourth-info-block">Everything in a movie tell a story. And there’s just no single comprehensive way which could completely describe movie in all its endless <i class="fa fa-puzzle-piece icon-shift brand-color" aria-hidden="true"></i> details.</div>
            <div class="home-info-block block-splitter"></div>
            <div class="home-info-block fifth-info-block">DMO is meant to change it.</div>
        </div>
        <div class="home-line"></div>
        <div class="home-plot-point bright-plot-point third-plot-point" (click)="scrollToPlotPoint($event.target)">
            <div class="home-header dark-header second-header-mobile"> For who? </div>
            <div class="home-info-block bright-info-block first-info-block">Screenplay students<i class="fa fa-graduation-cap icon-shift" aria-hidden="true"></i></div>
            <div class="home-info-block block-splitter"></div>
            <div class="home-info-block bright-info-block second-info-block">Movie critics<i class="fa fa-star icon-shift" aria-hidden="true"></i> </div>
            <div class="home-info-block bright-info-block third-info-block">Screenplay teachers<i class="fa fa-book icon-shift" aria-hidden="true"></i></div>
            <div class="home-info-block block-splitter"></div>
            <div class="home-header dark-header second-header"> For who? </div>
            <div class="home-info-block block-splitter"></div>
            <div class="home-info-block bright-info-block fourth-info-block">Movie geeks<i class="fa fa-robot icon-shift" aria-hidden="true"></i> </div>
            <div class="home-info-block bright-info-block fifth-info-block">Screenwriters<i class="fa fa-pen icon-shift" aria-hidden="true"></i> </div>
            <div class="home-info-block block-splitter"></div>
            <div class="home-info-block bright-info-block sixth-info-block">Directos<i class="fa fa-video icon-shift" aria-hidden="true"></i> </div> 
        </div>
        <div class="home-line"></div>
        <div class="home-plot-point fourth-plot-point" (click)="scrollToPlotPoint($event.target)">  
            <div class="home-header"> Why? </div>
            <!-- <i class="fa fa-search icon-shift brand-color" aria-hidden="true"></i> -->
            <div class="home-info-block first-info-block">Screenplay it’s not just some text which was laid into the directors’ hands. It’s numerous variations of decisions which resulted into compelling story. Isn't it interesting?</div>
            <div class="home-info-block block-splitter"></div>
            <div class="home-info-block second-info-block">Usually first version of screenplay and final movie are two different<i class="fa fa-globe icon-shift brand-color" aria-hidden="true"></i> planets. DMO lets you to learn from it.</div>
            <div class="home-info-block third-info-block">It’s realy hard to understand the rules of screenplay even for proffesionals. Dmo is new method of understanding the Principles of Screenwriting.</div>
            <div class="home-info-block block-splitter"></div>
            <div class="home-info-block fourth-info-block">DMO might explain you why some movies stay in the cinema history and others are forgotten next day after release.</div>
            <div class="home-info-block block-splitter"></div>
            <div class="home-info-block fifth-info-block">If you really <i class="fa fa-heart icon-shift brand-color" aria-hidden="true"></i> cinema you already know why :)</div>
        </div>
        <div class="home-line"></div>
        <div class="home-plot-frame-container" (click)="scrollToPlotPoint($event.target)">
            <div class="home-plot-frame-info">
                <div class="home-frame-block-info">
                    <h2 class="home-frame-block-info-header">Features</h2>
                    <div class="home-frame-block-info-content">
                        <ul>
                            <li>Beats editor</li>
                            <li>Characters manager</li>
                            <li>Automatic movie rythm graph<i class="fa fa-chart-line icon-shift" aria-hidden="true"></i></li>
                            <li>Automatic movie tempo graph<i class="fa fa-chart-line icon-shift" aria-hidden="true"></i></li>
                            <li>DMO collections</li>
                            <li>Flexible tag system<i class="fa fa-hashtag icon-shift" aria-hidden="true"></i></li>
                            <!-- <li>ACTs separator</li> -->
                            <li>Story structure builder</li>
                            <li>Sharing<i class="fa fa-share icon-shift" aria-hidden="true"></i></li>
                        </ul>
                    </div>
                </div>

                <!-- <div class="home-frame-block-info">
                        <div class="home-frame-block-info-header">Guide</div>
                        <div class="home-frame-block-info-content">
                            <ol start="1">
                                <li>Choose a movie you want to decompose 
                                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="18px" height="18px" viewBox="0 0 35 35" style="fill:#212123; margin-left: -6px">    
                                        <path d="M16,4C9.373,4,4,9.373,4,16s5.372,12,12,12s12-5.373,12-12S22.627,4,16,4z M24.103,19.925c-1.637,0-2.557-1.234-2.557-1.234 s-0.775,3.168-4.511,3.168c-0.715,0-1.857-0.287-1.857-0.287l2.051,4.586c-0.404,0.049-0.813,0.081-1.23,0.081 c-1.161,0-2.274-0.203-3.315-0.559l-4.98-12.962c0,0-0.38-0.619,0.191-0.761c0.571-0.142,2.809-0.619,2.809-0.619 s0.714-0.38,0.953,0.287c0.238,0.667,2.19,5.618,2.19,5.618s0.904,2.142,3.38,2.142c2.475,0,3.073-2.237,2.971-2.503 c-0.604-1.581-2.587-6.178-2.587-6.178s-0.288-0.574,0.432-0.718c0.706-0.141,1.993-0.362,1.993-0.362s0.524-0.381,0.857,0.428 c0.332,0.809,2.712,5.856,2.712,5.856s0.585,1.489,1.735,1.489c0.363,0,0.626-0.058,0.812-0.129 c-0.107,0.868-0.323,1.701-0.634,2.488C25.201,19.845,24.748,19.925,24.103,19.925z"></path>
                                    </svg>
                                </li>
                                <li>Open DMO editor and start watching the movie</li>
                                <li>Start watching the movie<i class="fa fa-play icon-shift" aria-hidden="true"></i></li>
                                <li>Notice a beat?
                                    <ul>
                                        <li>Mark it's time</li>
                                        <li>Add descripton</li>
                                        <li>Specify beat type</li>
                                        <li>Add charge <i class="fa fa-plus icon-shift" aria-hidden="true"></i></li> 
                                        <li>Add tag</li>
                                        <li>Add character</li>
                                    </ul>
                                </li>
                                <li>Act just ended?
                                    <ul>
                                        <li>Mark it</li>
                                    </ul>
                                </li>
                                <li>Notice structural element in story? 
                                    <ul>
                                        <li>Specify it</li>
                                    </ul>
                                </li>
                                <li>Set Dmo status</li>
                                <li>Explore tempo and rythm graphs and movie structure</li>
                            </ol>
                        </div>
                    </div> -->
                  <!-- <i class="fa fa-download icon-shift" aria-hidden="true"></i> -->

                <div class="home-frame-block-info">
                    <h2 class="home-frame-block-info-header">FAQ</h2>
                    <div class="home-frame-block-info-content">
                        <ul>
                            <li>Do I need some screenwriter diploma to be able to use editor?
                                <ul class="answer">
                                    <li>No at all. But you have to be familiar with basic screenwriting theory</li>
                                </ul>
                            </li>
                            <li>DMOs? These are kind of critick reviews?
                                <ul class="answer">
                                    <li>These are deeply analytical story decompositions</li>
                                </ul>
                            </li>
                            <li>Is it another super-compex tool for editing screenplay?
                                <ul class="answer">
                                    <li>It’s rather super-easy tool for screenwriting learning</li>
                                </ul>
                            </li>
                            <li>Why shoudn’t I just use base notepat or smth. else?
                                <ul class="answer">
                                    <li>Editor is designed specifically for movie decomposition but you never know what is better for you</li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                </div>

                <div class="home-frame-block-info">
                    <h2 class="home-frame-block-info-header">Benefits</h2>
                    <div class="home-frame-block-info-content">
                        <ul>
                            <li>All your progress instantly syncs with cloud 
                                <svg class="icon-shift" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="18px" viewBox="0 0 24 24" width="18px" fill="#212123" style="margin-left: -8px;"><g><rect fill="none" height="24" width="24"/></g><g><g><path d="M21.5,14.98c-0.02,0-0.03,0-0.05,0.01C21.2,13.3,19.76,12,18,12c-1.4,0-2.6,0.83-3.16,2.02C13.26,14.1,12,15.4,12,17 c0,1.66,1.34,3,3,3l6.5-0.02c1.38,0,2.5-1.12,2.5-2.5S22.88,14.98,21.5,14.98z M21.51,18L21.51,18L15,18c-0.55,0-1-0.45-1-1 s0.45-1,1-1h1.25v-0.25c0-0.97,0.78-1.75,1.75-1.75s1.75,0.78,1.75,1.75V17c0,0,1.75,0,1.76,0c0.28,0,0.5,0.22,0.5,0.5 C22,17.77,21.78,18,21.51,18z M10,4.26v2.09C7.67,7.18,6,9.39,6,12c0,1.77,0.78,3.34,2,4.44V14h2v6H4v-2h2.73 C5.06,16.54,4,14.4,4,12C4,8.27,6.55,5.15,10,4.26z M20,6h-2.73c1.43,1.26,2.41,3.01,2.66,5l-2.02,0 C17.68,9.64,16.98,8.45,16,7.56V10h-2V4h6V6z"/></g></g></svg>
                                It will never be lost
                            </li>
                            <li>No MS Word-like buttons mess. Clean and useful design</li>
                            <li>Active and realy positive comunity</li>
                            <li>No downloads. Use directly from browser<i class="fa fa-tablet-alt icon-shift" aria-hidden="true"></i></li>
                            <li>Decompose using any device </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-line"></div>
        <div class="home-plot-point last-plot-point" (click)="scrollToPlotPoint($event.target)">
            <div class="home-header"> DMO editor </div>
            <div class="home-subheader home-info-block"> 
                <span class="brand-color">D</span>
                ecomposed 
                <span class="brand-color">&nbsp;M</span>
                ovie 
                <span class="brand-color">&nbsp;O</span>
                bjects   
            </div>

            <div *ngIf="!isAuthorized" class="home-auth-block">
                <button  type="button" class="nna-button-primary first-nna-button" (click)="toRegistration()"> Register </button>
                <button  type="button" class="nna-button-secondary nna-button-bright" (click)="toLogin()"> Login </button>
            </div>

            <div *ngIf="isAuthorized" class="logged-in-container">
                <button type="button" class="nna-button-primary nna-button-width-unset button-for-authorized-user" (click)="toLayout()"> Explore your DMOs </button>
                <span class="user-name-span">Logged in as: <span class="login-font"> {{userName}}</span> </span>
            </div>

            <div *ngIf="!isAuthorized" class="username-placeholder-container"></div>

            <div class="home-footer">
                <div class="links">
                    <a class="nna-link" href="#">GitHub</a> 
                    <br /> 
                    <a class="nna-link" href="#">Twitter</a>
                </div>
                <div class="copyright">
                    Designed with <span style="color: red;">&#10084;</span> <br /> by Serenkiy &#169; 2022
                </div>
            </div>
        </div>
    </div>
</div>
