<div class="base-modal">
    <div class="base-modal-header">
        <h2 class="modal-title">New Decomposed Movie Object</h2>
    </div>
    <div class="base-modal-body">
        <form role="form" [formGroup]="dmoForm">
            
            <div class="nna-input-group">
                <input #movieInput autocomplete="off" type="text" name="movieTitleInput" id="movieTitleInput" formControlName="movieTitleInput" 
                    class="form-control nna-input" placeholder="Movie title*" />
                    <!-- (keyup)="dmoNameAutofill(movieInput.value)"  -->
                <label for="movieTitleInput" class="nna-input-label">Movie title*</label>
            </div>

            <div class="validation-wrapper validation-wrapper-popup">
                <div *ngIf="movieTitleInput.invalid && (movieTitleInput.dirty || movieTitleInput.touched)" class="validation-container">
                    <div *ngIf="movieTitleInput.errors.maxlength">
                        <p class="validation-text">Maximum movie name's length exceeded</p>
                    </div> 
                </div>
            </div>

            <div class="nna-input-group">
                <input autocomplete="off" type="text" name="dmoNameInput" id="dmoNameInput" formControlName="dmoNameInput" 
                    class="form-control nna-input" placeholder="DMO name" />
                <label for="dmoNameInput" class="nna-input-label">DMO name</label>
            </div>

            <div class="validation-wrapper validation-wrapper-popup">
                <div *ngIf="(dmoNameInput.invalid && (dmoNameInput.dirty || dmoNameInput.touched)) || shouldShowCustomDmoNameValidation" class="validation-container">
                    <div *ngIf="!shouldShowDmoNameValidation && dmoNameInput.errors && dmoNameInput.errors.maxlength">
                        <p class="validation-text">Maximum dmo name's length exceeded</p>
                    </div> 

                </div>
            </div>

            <div class="nna-input-group">
                <textarea autocomplete="off" name="shortComment" id="shortComment" formControlName="shortComment" 
                    class="form-control nna-input" rows="3" placeholder="Short comment"></textarea>
                <label for="shortComment" class="nna-input-label">Short comment</label>
            </div>

            <div class="validation-wrapper validation-wrapper-popup">
                <div *ngIf="shortComment.invalid && (shortComment.dirty || shortComment.touched)" class="validation-container">
                    <div *ngIf="shortComment.errors.maxlength">
                        <p class="validation-text">Maximum dmo comment's length exceeded</p> 
                    </div>
                </div>
            </div>

        </form>
    </div>
    <div class="base-modal-footer">
        <button type="button" class="nna-button-secondary" (click)="onClose(true)">Cancel</button>
        <button type="button" class="nna-button-primary" [ngClass]="{'nna-diabled-button': !dmoForm.valid}" 
            [disabled]="!dmoForm.valid" (click)="onClose(false)">Start decomposition</button>
    </div>
</div>